# IDE
.vscode/
*.DS_Store
thumbs.db
.idea
.env
.htaccess

# Ignored theme files
*.sass-cache*
*.log

# Ignore build directory
app/themes/*/build
wp

# Application
app/uploads/*
app/plugins/*
app/themes/mc-wp-starter-theme
app/themes/kmag
app/themes/twentytwenty
app/themes/twentytwentyone
!app/plugins/team-search
!app/plugins/page-to-pdf
!app/plugins/team-csv-importer
!app/plugins/news-csv-importer

# Composer
vendor
!app/plugins/**/vendor*
composer.phar
auth.json
autologin.php

# Node Package Manager
node_modules
.history/*
