
.agrifact {
  display: block;
  width: 100%;


  &__header {
    display: block;
    width: 100%;
    padding-bottom: 33px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-dove-gray);
    position: relative;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 42px;
      padding-bottom: 58px;
    }

    .logo-container {
      padding-top: 45px;
      @media screen and (min-width: $breakpoint-medium) {
        padding-top: 24px;
      }
      display: block;
      width: 100%;
      position: relative;

      &::after {
        display: block;
        content: '';
        width: 100%;
        max-width: 715px;
        height: 6px;
        background-color: var(--color-corn);
        margin-top: 24px;
      }

      svg {
        display: block;
        width: 100%;
        max-width: 200px;
        height: 64px;

        @media screen and (min-width: $breakpoint-medium) {
          max-width: 226px;
          height: 73px;
        }
      }
    }

    .studied-product-holder-main {
      display: flex;
      gap: 2%;

      .studied-product-holder {
        border: 1px solid var(--color-black);
        height: 64px;
        width: 64px;
        margin-top: 48px;
        display: flex;
        padding: 8px;
      }
    }

    .entry-container {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 10px;
      }

      h1 {
        max-width: 655px;
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: _calc-rem(28px);
        line-height: _calc-rem(32px);
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(64px);
          line-height: _calc-rem(68px);
        }
      }

      .study-date {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
      }

      .study-code {
        color: var(--color-corn);
        font-weight: 700;
        font-size: _calc-rem(24px);
        line-height: _calc-rem(29px);
      }

      .study-sub-topic {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        width: _calc-rem(320px);
      }

      .btn {
        padding: 8px 20px;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        display: block;
        width: fit-content;

        @media screen and (min-width: $breakpoint-medium) {
          margin: 32px 0 0;
        }

        svg {
          height: _calc-rem(19px);
          margin-left: 8px;
        }
      }

      .btn-agrifact-download {
        width: 100%;
        text-align: center;
        @media screen and (min-width: $breakpoint-small) {
          width: max-content;
          text-align: unset;
        }
      }

    }


  }

  &__body {

    border-bottom: 1px solid var(--color-silver-chalis);
    @media screen and (min-width: $breakpoint-medium) {
      border: 0;
    }

    .entry-introduction {
      display: block;
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid var(--color-dove-gray);

      @media screen and (min-width: $breakpoint-medium) {
        padding-bottom: 48px;
        margin-bottom: unset;
      }
    }

    .entry-container {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 10px;
      }

      .entry-content {
        h3 {
          margin-top: 24px;
          @media screen and (min-width: $breakpoint-medium) {
            margin-top: 48px;
          }
        }

        h2 {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(29px);
          color: var(--color-black);
          margin-bottom: 24px;
          font-weight: 400;
          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(40px);
            line-height: _calc-rem(41px);
          }
        }

        h3 {
          margin-bottom: 24px;
          margin-top: 24px;
          font-size: _calc-rem(24px);
          line-height: _calc-rem(29px);
          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(40px);
            line-height: _calc-rem(41px);
            margin-top: 48px;
          }
        }

        p {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          display: block;
          width: 100%;
          color: var(--color-dove-gray);
          margin-bottom: 24px;
        }

        strong,
        b {
          font-weight: 600;
        }

        em,
        i {
          font-style: italic;
        }

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;
          color: var(--color-dove-gray);
        }

        ul {
          list-style: disc;
          padding-left: 19px;

          li {
            font-size: _calc-rem(20px);
            line-height: _calc-rem(24px);
            color: var(--color-dove-gray);
            margin-bottom: 24px;
          }
        }

        ol {
          list-style: decimal;
          padding-left: 19px;

          li {
            font-size: _calc-rem(20px);
            line-height: _calc-rem(24px);
            color: var(--color-dove-gray);
            margin-bottom: 24px;
          }
        }

        img {
          display: block;
          margin: 24px 0 16px;
          width: auto;
          height: auto;
          max-width: _calc-rem(274px);
          max-height: _calc-rem(119px);
          @media screen and (min-width: $breakpoint-medium) {
            max-width: _calc-rem(660px);
            max-height: _calc-rem(287px);
          }
        }
      }
    }

  }

  &__related-content {
    display: block;
    width: 100%;
    margin-top: 48px;

    @media screen and (min-width: $breakpoint-medium) {
      border-top: 1px solid var(--color-dove-gray);
      padding-top: 48px;
    }
  }

  &__share-container {
    &.share-desktop {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &.share-mobile {
      display: block;
      margin-top: 24px;
      margin-bottom: 75px;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    p {
      font-weight: 800;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(24px);
      letter-spacing: 3px;
      color: var(--color-dove-gray);
      margin-bottom: 12px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
      }
    }
  }

  .sharethis-inline-share-buttons {
    .st-btn {
      border: 1px solid var(--color-black) !important;
      margin-right: 3px !important;

      img {
        margin: 0;
      }
    }
  }
}
