
.column-content-asst {

  &__header {
    @media screen and (min-width: $breakpoint-medium) {
      border: 0;
      padding-bottom: unset;
    }
    border-bottom: 6px solid var(--color-green-leaf);

    h1 {
      display: block;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 32px;
      font-size: _calc-rem(40px);
      line-height: _calc-rem(40px);
      font-weight: 400;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(56px);
        line-height: _calc-rem(64px);
        margin-bottom: 24px;
      }
    }

    h1:after {
      background-color: #496C09;
      content: "";
      display: block;
      height: _calc-rem(6px);
      margin-top: _calc-rem(24px);
      max-width: _calc-rem(715px);
      width: 100%;
    }
  }


  &__body {
    margin-top: 32px;
    margin-bottom: 60px;
    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 60px;
    }

    .image-holder {
      img {
        @media screen and (min-width: $breakpoint-medium) {
          max-width: _calc-rem(430px);
          height: auto;
        }
        width: 100%;
      }
    }

    .entry-container {
      .section {


        margin-top: 20px;
        margin-bottom: 20px;

        h4 {
          font-size: 32px;
          line-height: 36px;
          font-weight: 400;
          margin-bottom: 24px;
          @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 39px;
            line-height: 38px;
          }
        }

        p {
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          color: #666666;
        }
      }

      .contents {
        margin-bottom: 39px;

        h4 {
          font-size: 16px;
          font-weight: 800;
          line-height: 27px;
          letter-spacing: 3px;
          margin-bottom: 23px;
        }

        .content-list {
          display: flex;

          .btn-download-column-content-asst {
            margin-bottom: 18px;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            gap: 8px;
            padding: 3px 14px 5px 10px;
          }
        }
      }
    }
  }
}
