.directions-for-use {

  &__header {

    @media screen and (min-width: $breakpoint-medium) {
      padding-bottom: 51px;
    }

    h1 {
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(64px);
        line-height: _calc-rem(72px);
      }
      margin-top: 48px;
      font-size: _calc-rem(40px);
      line-height: _calc-rem(40px);
      font-weight: 500;
    }

    h1:after {
      background-color: var(--color-corn);
      content: "";
      display: block;
      height: _calc-rem(6px);
      margin-top: 24px;
      max-width: 715px;
      width: 100%;
    }

    .product-name {
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(32px);
        font-weight: 700;
      }
      margin-top: 48px;
      margin-bottom: 24px;
      font-size: _calc-rem(24px);
      line-height: _calc-rem(28px);
      font-weight: 800;
    }

    .issue-rev-holder {
      display: flex;
      gap: 24px;
      flex-direction: column;
      @media screen and (min-width: $breakpoint-medium) {
        flex-direction: row;
      }
      margin-bottom: 24px;
    }

    .entry-content {
      .btn-download-directions-for-use {
        margin-top: 24px;
      }

      .btn {
        padding: 8px 20px;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        display: block;
        margin: 20px auto 0;
        width: fit-content;

        @media screen and (min-width: $breakpoint-medium) {
          margin: 0;
        }

        &-download-directions-for-use {
          @media screen and (max-width: $breakpoint-medium) {
            margin: 32px 0 0;
          }
        }

        svg {
          height: _calc-rem(19px);
          margin-left: 8px;
        }
      }
    }
  }

  &__body {
    .dt-main-holder {
      margin-bottom: 24px;
      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 48px;
      }
      border-bottom: 1px solid var(--color-dove-gray);
    }

    .warning {
      p {
        color: var(--color-dove-gray);
        font-size: _calc-rem(16px);
        line-height: _calc-rem(22px);
        margin-bottom: 24px;
        display: block;
        font-weight: 400;

        strong, b {
          font-weight: 500;
        }

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(26px);
        }
      }
    }

    /** Start DFU Table | Taken from make my plugin responsive plugin documentation */
    .detail-table-holder {
      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 48px;
      }

      .dfu-table {
        border-top: 1px solid var(--color-mercury);
        border-bottom: 1px solid var(--color-mercury);

        th {
          border-left: 1px solid var(--color-mercury);
          border-right: 1px solid var(--color-mercury);
          font-weight: 700;
          padding: 10px;
        }

        td {
          padding: _calc-rem(10px);
          border-left: 1px solid var(--color-mercury);
          border-right: 1px solid var(--color-mercury);
        }

        @media screen and (min-width: $breakpoint-medium) {
          tr:first-child > th {
            text-align: left;
            @media screen and (min-width: $breakpoint-medium) {
              font-size: _calc-rem(20px);
              line-height: _calc-rem(24px);
              font-weight: 700;
            }
          }
        }
        @media screen and (max-width: $breakpoint-medium) {
          border-spacing: 0 _calc-rem(24px);
          border: none;
          border-collapse: separate;
          width: 100%;
          tr {
            border-bottom: 1px solid var(--color-mercury);

            &:first-of-type {
              display: none;
            }
          }
          td {
            display: block;
            clear: both;
            height: auto;
            text-align: right;
            width: auto;
            box-sizing: border-box;
            overflow: auto;
            padding: _calc-rem(5px) _calc-rem(10px);

            &[data-my-column]:before {
              display: inline-block;
              content: attr(data-my-column);
              float: left;
              text-align: left;
              white-space: pre-line;
              font-weight: 700;
              font-size: _calc-rem(16px);
              line-height: _calc-rem(20px);
              max-width: 49%;
            }

            &:first-child {
              border-top: 1px solid var(--color-mercury);

              .cmp-td-data {
                color: var(--color-black);
                font-size: _calc-rem(20px);
                line-height: _calc-rem(26px);
                font-weight: 400;
              }
            }

            &:last-child {
              border-bottom: 1px solid var(--color-mercury);
            }
          }
          .cmp-td-data {
            max-width: 49%;
            display: inline-block;
          }
        }
      }

      /** End DFU Table */
    }
  }
}
