.ghs-label {
  display: block;
  width: 100%;

  &__header {
    margin-top: 48px;
    border-bottom: 1px solid var(--color-alto);
    padding-bottom: 24px;
    margin-bottom: 48px;

    @media screen and (min-width: $breakpoint-medium) {
      padding-bottom: 48px;
    }

    .logo-container {
      display: block;
      width: 100%;
      position: relative;

      max-width: 100%;
      border-bottom: 6px solid var(--color-buddha-gold);
      padding-bottom: 24px;

      @media screen and (min-width: $breakpoint-medium) {
        max-width: 879px;
      }

      h1 {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(72px);
        font-weight: 400;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(64px);
          font-weight: 500;
        }
      }
    }

    .entry-container {

      .btn {
        display: block;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        padding: 8px 20px;
        width: fit-content;

        svg {
          height: _calc-rem(19px);
          margin-left: 8px;
        }
      }

      .btn-download {
        margin: 20px 0 0;
        @media screen and (min-width: $breakpoint-medium) {
          margin: unset;
          margin-top: 24px;
        }
      }

      h2 {
        margin-top: 48px;
        font-size: _calc-rem(20px);
        line-height: _calc-rem(30px);
        font-weight: 400;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(48px);
          line-height: _calc-rem(57px);
        }
      }

      h4 {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(30px);
        font-weight: 700;
        margin-bottom: 24px;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(48px);
          line-height: _calc-rem(57px);
        }
      }

      .ghs-label-dates {
        margin-bottom: 24px;
      }

      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 10px;
      }
    }
  }

  &__body {
    h4 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: _calc-rem(24px);
      line-height: _calc-rem(32px);
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(40px);
        line-height: _calc-rem(48px);
        margin-bottom: 24px;
      }
    }

    .warning-logo-holder {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (min-width: $breakpoint-medium) {
        flex-direction: row;
      }

      .warning-logo {
        object-fit: contain;
      }
    }


    .statements-inner {
      margin-bottom: 24px;
      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 60px;
      }


      &.last-statement-body {
        padding-bottom: 0 !important;
      }

      .warning-bd-holder {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breakpoint-medium) {
          flex-direction: row;
          gap: 24px;
        }
      }

      .statement-body {
        p {
          :first-child {
            margin-bottom: 24px;
            @media screen and (min-width: $breakpoint-medium) {
              margin-bottom: 48px;
            }
          }

          font-weight: 400;
          color: var(--color-dove-gray);
          display: block;
          font-size: _calc-rem(16px);
          line-height: _calc-rem(20px);
          margin-bottom: 24px;
          width: 100%;

          strong, b {
            font-weight: 700;
          }

          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(20px);
            line-height: _calc-rem(26px);
          }
        }
      }
    }

    .company-address {
      @media screen and (min-width: $breakpoint-medium) {
        margin: 70px 0 40px;
        max-width: 600px;
      }

      .address-inner {
        display: flex;
        align-items: flex-start;
        flex-flow: column;
        @media screen and (min-width: $breakpoint-medium) {
          flex-flow: row;
          align-items: center;
        }

        .address-inner1 {
          width: 30%;

          .mosaic-black-logo {
            width: _calc-rem(181px);
            height: _calc-rem(181px);
          }
        }

        .address-inner2 {
          width: 70%;
          font-weight: 400;
          h4 {
            font-size: _calc-rem(16px);
            line-height: _calc-rem(20px);
            margin-bottom: 0;
            font-weight: 700;
            @media screen and (min-width: $breakpoint-medium) {
              font-size: _calc-rem(24px);
              line-height: _calc-rem(32px);
            }
          }
        }
      }
    }
  }
}
