.material-compatibility {
  margin-top: 70px;

  .logo-container {
    display: block;
    width: 100%;
    position: relative;
    max-width: 100%;
    border-bottom: 6px solid var(--color-buddha-gold);
    padding-bottom: 24px;
    margin-bottom: 40px;

    h1 {
      display: block;
      width: 100%;
      font-size: _calc-rem(40px);
      line-height: _calc-rem(40px);
      font-weight: 400;
      margin-top: 10px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(64px);
        line-height: _calc-rem(72px);
      }
    }
  }

  .introduction {
    display: block;
    width: 100%;
    margin: 0 0 40px;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  .hero-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  table {
    border-top: 1px solid var(--color-mercury);
    border-bottom: 1px solid var(--color-mercury);
    width: 100%;

    th {
      border: 1px solid var(--color-nutrient-text-gray);
      font-weight: bold;
      padding: 10px;
      color: var(--color-text);
      font-size: _calc-rem(12px);
      background-color: var(--color-mercury);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(16px);
      }
      
      &.table-name {
        text-align: center;
      }
    }

    td {
      border-left: 1px solid var(--color-mercury);
      border-right: 1px solid var(--color-mercury);
      padding: 5px 10px;
      font-size: _calc-rem(12px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(16px);
        padding: 10px;
      }

      &.section-name {
        font-weight: bold;
        padding: 10px;
        color: var(--color-text);
        font-size: _calc-rem(12px);
        text-align: center;
        text-transform: uppercase;
        border: 1px solid var(--color-nutrient-text-gray);
        background-color: var(--color-mercury);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(16px);
        }
      }
    }
  }

  .btn-pdf-download {
    display: block;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin: 20px 0 0;
    padding: 8px 20px;
    width: -moz-fit-content;
    width: fit-content;

    svg {
      height: _calc-rem(16px);
    }
  }
}
