.mulders-chart-container {
  h1 a {
    font-size: 72px;
    line-height: 80px;
  }
  .section {
    display: none;
    &:first-child {
      display: block;
    }
    .row {
      display: flex;
      margin-top: 45px;
      align-items: center;
      justify-content: center;
      margin: 0 -15px;
      @media (max-width: $breakpoint-medium) {
        flex-direction: column;
      }
      .md-4 {
        flex: 0 0 auto;
        width: calc(100% - 700px);
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width: $breakpoint-medium) {
          width: 100%;
        }
        strong {
          font-weight: bold;
        }
        .border-around-red {
          border: 1px solid var(--color-mulders-red);
          padding: 15px;
        }
        .border-around-green {
          border: 1px solid var(--color-mulders-green);
          padding: 15px;
        }
        .red-btn {
          border: 1px solid var(--color-mulders-red);
          font-weight: 700;
          font-size: _calc-rem(18px);
          padding: 8px 15px;
          display: inline-block;
          margin-top: 15px;
          &.disabled {
            opacity: 0.5;
          }
        }
        .green-btn {
          border: 1px solid var(--color-mulders-green);
          font-weight: 700;
          font-size: _calc-rem(18px);
          padding: 8px 15px;
          display: inline-block;
          margin-top: 15px;
          &.disabled {
            opacity: 0.5;
          }
        }
      }
      .md-6 {
        flex: 0 0 auto;
        width: 700px;
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width: $breakpoint-medium) {
          margin-top: 30px;
        }
        .chart-condition {
          margin-top: 55px;
        }
      }
    }
  }
}
