.product-label {
  margin-top: 70px;
  
  .logo-container {
    display: block;
    width: 100%;
    position: relative;
    max-width: 100%;
    border-bottom: 6px solid var(--color-buddha-gold);
    padding-bottom: 24px;
    margin-bottom: 40px;

    h1 {
      display: block;
      width: 100%;
      font-size: _calc-rem(40px);
      line-height: _calc-rem(40px);
      font-weight: 400;
      margin-top: 10px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(64px);
        line-height: _calc-rem(72px);
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  .label-name {
    display: block;
    width: 100%;
    font-size: _calc-rem(20px);
    line-height: _calc-rem(25px);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 4px;

    @media screen and (min-width: $breakpoint-medium) {
      font-size: _calc-rem(25px);
      line-height: _calc-rem(36px);
    }
  }
  
  .label {
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-left: 0;
    white-space: pre-line;
    text-align: left;
    display: inline-block;
  }

  .application-list {
    list-style: disc;
  }

  table {
    border-top: 1px solid var(--color-mercury);
    border-bottom: 1px solid var(--color-mercury);
    width: 100%;

    th {
      border: 1px solid var(--color-mercury);
      font-weight: bold;
      padding: 10px;
      color: var(--color-text);
      font-size: _calc-rem(12px);
      
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(16px);
      }
      
      &.table-name {
        text-align: center;
      }
    }

    td {
      border-left: 1px solid var(--color-mercury);
      border-right: 1px solid var(--color-mercury);
      padding: 5px 10px;
      font-size: _calc-rem(12px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(16px);
        padding: 10px;
      }

      &.section-name {
        font-weight: bold;
        padding: 10px;
        color: var(--color-text);
        font-size: _calc-rem(12px);
        text-align: center;
        text-transform: uppercase;
        border: 1px solid var(--color-nutrient-text-gray);
        background-color: var(--color-mercury);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(16px);
        }
      }
    }
  }

  .body-content {
    p {
      display: block;
      width: 100%;
      margin-bottom: 10px;

      b,
      strong {
        font-weight: 700;
      }

      i,
      em {
        font-style: italic;
        color: var(--color-text);
      }

      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  .container {
    margin-bottom: 50px;
  }

  .benefits,
  .analysis,
  .direction-of-use,
  .storage,
  .health-and-safety {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 50px;
    }
  }

  .benefits,
  .analysis,
  .storage,
  .health-and-safety {
    margin-bottom: 40px;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 50px;
    }
  }

  .direction-of-use {
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 50px;
    }
  }

  .improvement-list {
    .content {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      width: 85%;
    }

    .icon {
      img {
        max-width: 50px;
        max-height: 50px;
        height: auto;
        display: block;
        width: auto;
        margin: 0 auto;
      }
    }
  }
  
  .benefits {
    border-top: 1px solid var(--color-dove-gray);
    padding-top: 20px;

    @media screen and (min-width: $breakpoint-medium) {
      padding-top: 50px;
    }
  }

  .warning-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url($images + '/icon/warning.svg');
  }

  .btn-pdf-download {
    display: block;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin: 20px 0 0;
    padding: 8px 20px;
    width: -moz-fit-content;
    width: fit-content;

    svg {
      height: _calc-rem(16px);
    }
  }
}
