.product-sheets {
  &__header {
    border-bottom: 1px solid var(--color-dove-gray);
    margin-bottom: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 77px;
    }

    .jump-holder {
      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;

      .uk-inline {
        flex-grow: 1;

        button {
          width: 100%;
          padding: 11px;
          padding-left: 16px;
          padding-right: 16px;

          .inner-mng {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .sel-txt {
              font-size: _calc-rem(16px);
              line-height: _calc-rem(16px);
              font-weight: 400;
              text-transform: capitalize;
            }

            svg {
              width: _calc-rem(15px);
              height: _calc-rem(15px);
              fill: var(--text-primary);
            }
          }
        }

        .uk-open {
          padding: 0;

          li {
            padding: 10px;
            border-bottom: 1px solid lightgray;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      .jump-txt {
        font-size: _calc-rem(14px);
        line-height: _calc-rem(14px);
        font-weight: 800;
        letter-spacing: _calc-rem(3px);
      }
    }

    .logo-container {
      display: block;
      width: 100%;
      position: relative;

      max-width: 100%;
      border-bottom: 6px solid var(--color-buddha-gold);
      padding-bottom: 24px;
      @media screen and (min-width: $breakpoint-medium) {
        max-width: _calc-rem(654px);
      }

      h1 {
        font-size: _calc-rem(40px);
        line-height: _calc-rem(40px);
        font-weight: 400;
        width: _calc-rem(200px);
        margin-top: 35px;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(64px);
          line-height: _calc-rem(72px);
          margin-top: 48px;
          width: 100%;
        }
      }
    }

    .topic-holder {
      margin-top: 33px;
      margin-bottom: 24px;

      @media screen and (min-width: $breakpoint-medium) {
        margin-top: 80px;
        margin-bottom: 0px;
      }

      .product-name {
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(32px);
          line-height: _calc-rem(32px);
          font-weight: 700;
          margin-top: 30px;
          margin-bottom: 24px;
        }
        font-size: _calc-rem(24px);
        line-height: _calc-rem(28px);
        font-weight: 800;
        margin-top: 24px;
        color: var(--color-black);
      }

      .citied-holder {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(20px);
        font-weight: 400;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: var(--color-dove-gray);
        @media screen and (min-width: $breakpoint-medium) {
          gap: 48px;
          flex-direction: row;
        }
      }

      .btn {
        padding: 8px 20px;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        display: block;
        margin: 20px auto 0;
        width: fit-content;

        @media screen and (min-width: $breakpoint-medium) {
          margin: 0;
        }
        @media screen and (max-width: $breakpoint-medium) {
          margin: 32px 0 0;
        }

        svg {
          height: _calc-rem(19px);
          margin-left: 8px;
        }
      }

      .download-btn-holder {
        margin-top: 24px;
        margin-bottom: 24px;
        @media screen and (min-width: $breakpoint-medium) {
          margin-bottom: 37px;
        }
      }

      .sheet-banner {
        width: 100%;
      }
    }
    .content-holder {
      .product-profile-heading {
        margin-bottom: 15px;
        font-weight: 700;
      }
      .product-profile-heading-custom {
        margin-top: 40px;
        margin-bottom: 15px;
        font-weight: 700;
      }
      .features-benefits {
        list-style: circle;
        padding-left: 25px;
      }
      .technology-at-work {
        padding-left: 25px;
        list-style: numbered;
      }
    }
  }

  &__body {
    .product-main-heading {
      margin-bottom: 30px;
    }
    /* Make my table responsive plugin CSS */
    .rp-table {
      border-top: 1px solid var(--color-mercury);
      border-bottom: 1px solid var(--color-mercury);
      width: 100%;

      th {
        border-left: 1px solid var(--color-mercury);
        border-right: 1px solid var(--color-mercury);
        font-weight: bold;
        padding: 10px;
      }

      td {
        border-left: 1px solid var(--color-mercury);
        border-right: 1px solid var(--color-mercury);
        padding: 10px;
        font-size: _calc-rem(24px);
        line-height: _calc-rem(24px);
      }

      @media screen and (max-width: $breakpoint-medium) {
        border: none;
        border-collapse: separate;
        border-spacing: 0 15px;
        tr {
          border-bottom: 1px solid var(--color-mercury);

          &:first-of-type {
            display: none;
          }
        }
        td {
          display: block;
          clear: both;
          height: auto;
          text-align: right;
          width: auto;
          box-sizing: border-box;
          overflow: auto;
          padding: 5px 10px;

          &:first-child {
            border-top: 1px solid var(--color-mercury);
          }

          &:last-child {
            border-bottom: 1px solid var(--color-mercury);
          }

          &[data-my-column]:before {
            display: inline-block;
            content: attr(data-my-column);
            float: left;
            text-align: left;
            white-space: pre-line;
            font-weight: 700;
            max-width: 49%;
            font-size: _calc-rem(16px);
            line-height: _calc-rem(16px);
          }
        }
        .cmp-td-data {
          max-width: 49%;
          display: inline-block;
          color: var(--color-dove-gray);
          font-size: _calc-rem(16px);
          line-height: _calc-rem(16px);
        }
      }
    }

    /* Tbl Heading */
    .cmp-tbl-top-head {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(24px);
      font-weight: 400;
      display: flex;
      font-weight: 700;
      margin-bottom: 16px;
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(40px);
        line-height: _calc-rem(40px);
        margin-bottom: 24px;
      }
    }

    /** Start Chemical Composition Table | Make my table responsive plugin */
    .product-profile-tbl-holder {
      .product-profile-heading {
        @extend .cmp-tbl-top-head;
      }

      th {
        text-align: left;
      }

      border-bottom: 1px solid var(--color-dove-gray);
      @media screen and (min-width: $breakpoint-medium) {
        padding-bottom: 48px;
        margin-bottom: 48px;
      }
      padding-bottom: 24px;
      margin-bottom: 16px;

      .product-profile-table {
        @extend .rp-table;
      }
    }

    /** End Chemical Composition Table */

    /** Start Particle Distribution Table | Make my table responsive plugin */
    .application-tbl-holder {
      margin-top: 24px;

      .application-heading {
        @extend .cmp-tbl-top-head;
      }

      th {
        text-align: left;
      }

      border-bottom: 1px solid var(--color-dove-gray);
      @media screen and (min-width: $breakpoint-medium) {
        padding-bottom: 48px;
        margin-bottom: 48px;
      }
      padding-bottom: 24px;
      margin-bottom: 16px;

      .application-table {
        @extend .rp-table;
      }
    }

    /** End Particle Distribution Table */

    /** Start Sizing Characteristic Large Table | Make my table responsive plugin */
    .sizing-lg-tbl-holder {
      margin-top: 24px;

      .sizing-heading {
        @extend .cmp-tbl-top-head;
      }

      border-bottom: 1px solid var(--color-dove-gray);
      @media screen and (min-width: $breakpoint-medium) {
        padding-bottom: 48px;
        margin-bottom: 48px;
      }
      padding-bottom: 24px;
      margin-bottom: 16px;

      .sizing-table {
        @extend .rp-table;
      }
    }

    /** End Sizing Characteristic Large Table */

    .psi-holder {
      margin-bottom: 48px;
      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 151px !important;
      }

      .physical-property,
      .sizing-character {
        font-size: _calc-rem(24px);
        line-height: _calc-rem(24px);
        font-weight: 400;
        margin-bottom: 24px;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(40px);
          line-height: _calc-rem(40px);
        }
      }

      .physical-property-subheading,
      .sizing-character-subheading {
        font-size: _calc-rem(16px);
        line-height: _calc-rem(16px);
        font-weight: 700;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(24px);
        }
      }

      .sizing-character-details,
      .physical-property-details {
        font-size: _calc-rem(16px);
        line-height: _calc-rem(16px);
        font-weight: 400;
        padding-top: 24px;
        color: var(--color-dove-gray);
      }

      .col-wrapper {
        width: 50%;
      }
    }
  }

  &__foot {
    .notice-holder {
      border-top: 1px solid var(--color-alto);
      border-bottom: 1px solid var(--color-alto);
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 400;
      font-size: _calc-rem(20px);
      line-height: _calc-rem(20px);
      text-align: center;
      color: var(--color-alto);
    }

    .disclaimer-holder {
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(14px);
        line-height: _calc-rem(17px);
      }
      padding-top: 10px;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(16px);
      font-weight: 400;
      text-align: center;
      color: var(--color-alto);
    }
  }


   // Add styling for <i> and <em> elements inside .product-sheets
  i,
  em {
    font: revert;
    color: revert;
    font-weight: revert;
    font-family: inherit;
  }
}
