.robust-article {
    .remove-padding-mobile {
        padding-left: 0;

        @media screen and (min-width: $breakpoint-medium) {
            padding-left: 25px;
        }
    }

    .uk-grid {
        margin-left: 0;
    }

    display: block;
    width: 100%;
    margin-top: 30px;

    &__hero {
        height: 567px;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: none;
        margin-bottom: 25px;

        @media screen and (min-width: $breakpoint-medium) {
            display: block;
        }
    }

    &__mobile-hero {
        height: auto;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: block;
        margin-bottom: 35px;

        @media screen and (min-width: $breakpoint-medium) {
            display: none;
        }
    }

    &__heading-container {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 6px solid var(--color-leaf);
        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 48px;
            padding-bottom: 48px;
        }
    }

    &__body-container {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: $breakpoint-medium) {
            flex-direction: row;
        }
    }

    &__related-content {
        display: block;
        width: 100%;
        margin-top: 48px;

        @media screen and (min-width: $breakpoint-medium) {
            border-top: 1px solid var(--color-border-gray);
            padding-top: 48px;
        }
    }
}

.robust-article-heading {
    &__title {
        color: var(--color-text);
        font-size: _calc-rem(32px);
        line-height: _calc-rem(36px);
        margin-bottom: 24px;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(64px);
            line-height: _calc-rem(70px);
        }
    }

    &__intro {
        font-size: _calc_rem(20px);
        line-height: _calc_rem(24px);
        color: $article-intro-text;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc_rem(16px);
            line-height: _calc_rem(22px);
        }
    }

}

.bio {
    &__expand-button {
        display: block;
        width: auto;
        border: 0;
        background-color: transparent;
        font-family: var(--inter-font);
        font-size: _calc-rem(15px);
        line-height: _calc-rem(22px);
        color: var(--color-text);
        cursor: pointer;
        text-align: center;
        margin-bottom: 24px;

        @media screen and (min-width: $breakpoint-small) {
            text-align: left;
        }

        span {
            font-style: italic;
        }

        svg {
            display: inline-block;
            vertical-align: middle;
            width: _calc-rem(16px);
            height: _calc-rem(16px);
            margin-right: 17px;
            fill: var(--color-seed);
            color: var(--color-seed);
        }
    }

    &__author-title {
        &.modal-title {
            padding-left: 0px !important;
        }
    }
}

.robust-article-details {

    margin-top: 48px;
    padding-top: 13px;
    border-top: 1px solid #666;

    @media screen and (min-width: $breakpoint-medium) {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    &__author-name {
        display: block;
        width: 100%;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(16px);
        font-weight: 800;
        margin-bottom: 8px;
        color: #666;

        @media screen and (min-width: $breakpoint-small) {
            margin-bottom: 14px;
            text-align: left;
        }
    }

    &__author-title {
        display: block;
        width: 100%;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(16px);
        font-style: italic;
        color: #999;
        margin-bottom: 16px;

        @media screen and (min-width: $breakpoint-small) {
            text-align: left;
        }
    }

    &__author-image {
        display: block;
        margin-bottom: 16px;
        border-radius: 100%;
        width: 150px;
        height: 150px;

        @media screen and (min-width: $breakpoint-small) {
            margin: auto auto 16px;
        }
    }

    &__share {
        p {
            font-weight: 800;
            font-size: _calc-rem(16px);
            line-height: _calc-rem(24px);
            letter-spacing: 3px;
            color: #666;
            margin-bottom: 12px;

            @media screen and (min-width: $breakpoint-medium) {
                font-size: _calc-rem(20px);
                line-height: _calc-rem(24px);
            }
        }
    }

    .sharethis-inline-share-buttons {
        .st-btn {
            border: 1px solid var(--color-black) !important;
            margin-right: 3px !important;

            img {
                margin: 0;
            }
        }
    }

}

.robust-article-entry-container {
    h3 {
        margin: 24px 0;
    }

    p {
        margin: 8px 0;
    }

    b, strong {
        font-weight: bold;
    }

    ul {
        li {
            margin: 16px 0;
        }
    }

    a {
        text-decoration: underline;
        font-weight: 500;
    }

    /* Slider */
    .ra-video-slider-holder {
        &__desktop {
            display: none;
        }

        &__mobile {
            display: block;

            ul {
                li {
                    width: 100%;
                    padding: 0 !important;
                }
            }
        }

        @media screen and (min-width: $breakpoint-medium) {
            &__mobile {
                display: none;
            }
            &__desktop {
                display: block;

                ul {
                    li {
                        width: 60%;
                        padding: 0 !important;
                    }
                }
            }
        }
    }

    .img-slider-shtcode {
        li{
            padding-left: 5px !important;
        }
        @media screen and (min-width: $breakpoint-small) {
            img {
                width: 100%;
                height: 500px;
            }
        }

        .cust-nav {
            svg {
                polyline {
                    stroke-width: 3;
                }
            }
        }
    }
}
