.sherry-show-episode {
  &__container {
    display: block;
    width: 100%;
    margin: 50px 0 80px;
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: _calc-rem(28px);
    line-height: _calc-rem(32px);
    
    @media screen and (min-width: $breakpoint-medium) {
      font-size: _calc-rem(64px);
      line-height: _calc-rem(68px);
    }
  }

  &__description {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  &__video {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  &__farmers {
    display: block;
    width: 100%;
    margin-top: 50px;

    &-title {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      font-size: _rem-calc(20px);
      line-height: _rem-calc(24px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _rem-calc(40px);
        line-height: _rem-calc(48px);
      }
    }

    .farmer-card {
      &__image {
        display: block;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        border-bottom-right-radius: 40px;
      }

      &__name {
        font-family: var(--inter-font);
        font-size: _calc-rem(24px);
        line-height: _calc-rem(32px);
        margin: 0 0 5px;
        font-weight: 700;
      }
    }
  }

  .split-banner__color-block {
    background-color: transparent;
    border: 1px solid var(--color-black);
    position: relative;

    .uk-grid {
      height: 100%;
    }
  }

  .split-banner__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .btn {
      margin: 0;
      font-size: _calc-rem(14px);
      height: auto;
    }

    p {
      font-size: _calc-rem(18px);
      line-height: _calc-rem(22px);
      margin-bottom: 10px;
    }

    h2 {
      font-size: _calc-rem(32px);
      line-height: _calc-rem(38px);
      margin-bottom: 28px;
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .split-banner__image {
    display: block;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: $breakpoint-medium) {
      height: 140px;
    }
  }
}