.standard-article {


  &__header {

    border-bottom: 6px solid var(--color-green-leaf);
    padding-bottom: 24px;
    margin-bottom: 24px;
    @media screen and (min-width: $breakpoint-medium) {
      padding-bottom: 48px;
      margin-bottom: 48px;
    }


    h1 {
      display: block;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 24px;
      font-size: _calc-rem(32px);
      line-height: _calc-rem(36px);

      @media screen and (min-width: $breakpoint-medium) {
        margin-top: 75px;
        font-size: _calc-rem(64px);
        line-height: _calc-rem(72px);
      }
    }
  }


  &__body {
    p {
      color: var(--color-dove-gray);
      display: block;
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      margin-bottom: 24px;
      width: 100%;

      strong {
        font-weight: bold;
      }
    }

    .author_holder {
      .author_name, .author_title {
        font-size: _calc-rem(16px);
        line-height: _calc-rem(20px);
        font-weight: 500;
        font-style: italic;
        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(56px);
        }
      }
    }

    .img_captions_holder {
      display: flex;
      flex-direction: column;
      font-weight: 700;

      img {
        max-width: _calc-rem(200px);
        max-height: _calc-rem(177px);
      }


      @media screen and (min-width: $breakpoint-medium) {
        flex-direction: row;
        img {
          max-width: _calc-rem(441px);
          max-height: _calc-rem(390px);
        }
      }

      .caption_holder {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breakpoint-medium) {
          padding-left: 48px;
        }

        h2 {
          display: inline-flex;
          font-weight: 700;
          font-size: _calc-rem(24px);
          line-height: _calc-rem(32px);
          margin-bottom: 24px;
          margin-top: 24px;
          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(48px);
            line-height: _calc-rem(50px);
          }
        }
      }

    }
  }

  &__related-content {
    display: block;
    width: 100%;
    margin-top: 24px;
    border-top: 1px solid var(--color-dove-gray);
    padding-top: 48px;
    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 48px;
    }
  }

  /* For share btn */
  &__share-container {
    .share-mobile {
      display: none;
    }

    &.share-desktop {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &.share-mobile {
      display: block;
      margin-top: 24px;
      margin-bottom: 75px;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    p {
      font-weight: 800;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(24px);
      letter-spacing: 3px;
      color: var(--color-dove-gray);
      margin-bottom: 12px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
      }
    }
  }

  .sharethis-inline-share-buttons {
    .st-btn {
      border: 1px solid var(--color-black) !important;
      margin-right: 3px !important;

      img {
        margin: 0;
      }
    }
  }
}

