.trures-insights {
  display: block;
  margin-top: 30px;
  width: 100%;

  &__header {
    border-bottom: 1px solid var(--color-border-gray);
    display: block;
    margin-bottom: 24px;
    padding-bottom: 33px;
    position: relative;
    width: 100%;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 42px;
      padding-bottom: 58px;
    }

    .logo-container {
      display: block;
      position: relative;
      width: 100%;

      &::after {
        background-color: var(--color-bioscience-green);
        content: '';
        display: block;
        height: 6px;
        margin-top: 24px;
        max-width: 715px;
        width: 100%;
      }

      svg {
        display: block;
        height: 64px;
        max-width: 200px;
        width: 100%;

        @media screen and (min-width: $breakpoint-medium) {
          height: 73px;
          max-width: 226px;
        }
      }
    }

    .entry-container {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 10px;
      }
    }

    h1 {
      display: block;
      font-size: _calc-rem(24px);
      line-height: _calc-rem(28px);
      margin-bottom: 24px;
      margin-top: 24px;
      max-width: 655px;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(56px);
        line-height: _calc-rem(64px);
        margin-top: 48px;
      }
    }

    .issue-number {
      color: var(--color-border-gray);
      display: block;
      font-size: _calc-rem(20px);
      line-height: _calc-rem(20px);
      width: 100%;
    }

    .btn {
      display: block;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(19px);
      margin: 20px auto 0;
      padding: 8px 20px;
      width: fit-content;

      @media screen and (min-width: $breakpoint-medium) {
        margin: 32px 0 0;
      }

      svg {
        height: _calc-rem(19px);
        margin-left: 8px;
      }
    }
  }

  &__body {
    .bullet-list {
      border-bottom: 1px solid var(--color-border-gray);
      list-style: disc;
      margin-bottom: 24px;
      padding-bottom: 24px;
      padding-left: 30px;

      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 48px;
        padding-bottom: 48px;
      }

      li {
        color: var(--color-border-gray);
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        @media screen and (min-width: $breakpoint-medium) {
          padding-bottom: 24px;
          padding-right: 20px;
        }
      }
    }

    .entry-introduction {
      border-bottom: 1px solid var(--color-border-gray);
      display: block;
      margin-bottom: 24px;
      padding-bottom: 24px;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 48px;
        padding-bottom: 48px;
      }
    }

    .entry-container {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 10px;
      }
    }

    h2 {
      color: var(--color-black);
      display: block;
      font-size: _calc-rem(24px);
      line-height: _calc-rem(29px);
      margin-bottom: 24px;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(38px);
      }
    }

    h3 {
      display: block;
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      margin-bottom: 24px;
      width: 100%;
      color: var(--color-black);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(24px);
        line-height: _calc-rem(24px);
        margin-bottom: 16px;
      }

      strong {
        color: var(--color-black);
      }
    }

    p {
      color: var(--color-border-gray);
      display: block;
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      margin-bottom: 24px;
      width: 100%;
    }

    strong,
    b {
      color: var(--color-black);
      font-weight: 700;
    }

    em,
    i {
      font-style: italic;
    }

    a {
      color: var(--color-border-gray);
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      text-decoration: underline;
    }

    ul {
      list-style: disc;
      padding-left: 19px;

      li {
        color: var(--color-border-gray);
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 24px;
      }
    }

    ol {
      list-style: decimal;
      padding-left: 19px;

      li {
        color: var(--color-border-gray);
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 24px;
      }
    }

    figure {
      display: block;
      max-width: 475px;
      width: 100% !important;

      figcaption {
        color: var(--color-border-gray);
        display: block;
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 24px;
        width: 100%;
      }
    }

    img {
      display: block;
      margin: 24px 0 16px;
      max-width: 475px;
      width: 100%;
    }
  }

  &__related-content {
    display: block;
    margin-top: 48px;
    width: 100%;

    @media screen and (min-width: $breakpoint-medium) {
      border-top: 1px solid var(--color-border-gray);
      padding-top: 48px;
    }

    .related-title {
      color: var(--color-border-gray);
      font-size: _calc-rem(16px);
      font-weight: 800;
      letter-spacing: 3px;
      line-height: _calc-rem(24px);
      margin-bottom: 24px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 16px;
      }
    }

    .post-link {
      color: var(--color-link-gray);
      display: block;
      font-size: _calc-rem(20px);
      font-weight: 500;
      line-height: _calc-rem(24px);
      margin-bottom: 24px;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }

    .related-tags-list {
      li {
        margin-bottom: 24px;
        margin-top: 0;

        .tag-link {
          color: var(--color-link-gray);
          font-size: _calc-rem(20px);
          font-weight: 500;
          line-height: _calc-rem(24px);
          margin-bottom: 24px;
          margin-top: 0;
          max-width: 50%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__share-container {
    &.share-desktop {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &.share-mobile {
      display: block;
      margin-bottom: 75px;
      margin-top: 24px;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    p {
      color: var(--color-border-gray);
      font-size: _calc-rem(16px);
      font-weight: 800;
      letter-spacing: 3px;
      line-height: _calc-rem(24px);
      margin-bottom: 12px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
      }
    }
  }

  .sharethis-inline-share-buttons {
    .st-btn {
      border: 1px solid var(--color-black) !important;
      margin-right: 3px !important;

      img {
        margin: 0;
      }
    }
  }

  &__trial-data {
    display: block;
    width: 100%;
    margin: 40px 0;

    @media screen and (min-width: $breakpoint-medium) {
      margin: 60px 0;
    }

    .trial-data-content {
      padding: 20px;
      background-color: var(--color-bioscience-green);

      @media screen and (min-width: $breakpoint-medium) {
        padding: 47px 32px;
      }

      h2 {
        display: block;
        width: 100%;
        font-size: _calc-rem(24px);
        line-height: _calc-rem(32px);
        color: var(--color-white);
        font-weight: 700;
        margin-bottom: 14px;

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(32px);
          line-height: _calc-rem(40px);
        }
      }

      p {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        color: var(--color-white);
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(32px);
        }
      }
    }

    .trial-data-image {
      .trial-data-image--desktop,
      .trial-data-image--mobile {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .trial-data-image--mobile {
        height: 240px;
      }
    }
  }
}
