
.video-articles {
  
  &__header {
    @media screen and (min-width: $breakpoint-medium) {
      border: 0;
      padding-bottom: unset;
    }
    border-bottom: 6px solid var(--color-green-leaf);
    padding-bottom: 30px;

    h1 {
      display: block;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 24px;
      font-size: _calc-rem(32px);
      line-height: _calc-rem(36px);

      @media screen and (min-width: $breakpoint-medium) {
        margin-top: 75px;
        font-size: _calc-rem(64px);
        line-height: _calc-rem(72px);
      }
    }
  }


  &__body {
    margin-top: 32px;
    margin-bottom: 60px;
    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 75px;
    }

    .entry-container {
      /* Responsive Embedded Css Provided by Vimeo */
      .video-holder {
        padding: 56.25% 0 0 0;
        position: relative;
        margin-bottom: 3%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .entry-content {
        p {
          color: var(--color-dove-gray);
          display: block;
          font-size: _calc-rem(20px);
          line-height: _calc-rem(26px);
          margin-bottom: 24px;
          width: 100%;

          strong {
            font-weight: bold;
          }
        }
      }
    }
  }

  &__related-content {
    display: block;
    width: 100%;
    margin-top: 48px;

    @media screen and (min-width: $breakpoint-medium) {
      border-top: 1px solid var(--color-dove-gray);
      padding-top: 48px;
    }
  }

  /* For share btn */
  &__share-container {
    &.share-desktop {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &.share-mobile {
      display: block;
      margin-top: 24px;
      margin-bottom: 75px;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    p {
      font-weight: 800;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(24px);
      letter-spacing: 3px;
      color: var(--color-dove-gray);
      margin-bottom: 12px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
      }
    }
  }

  .sharethis-inline-share-buttons {
    .st-btn {
      border: 1px solid var(--color-black) !important;
      margin-right: 3px !important;

      img {
        margin: 0;
      }
    }
  }
}
