.card--agrifact {
  border: 2px solid currentColor;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 265px;
  padding: 16px 16px 12px;
  text-decoration: none;

  h5 {
    font-family: var(--articulat-font);
    font-size: _calc-rem(24px);
    font-weight: 400;
    line-height: _calc-rem(26px);
    margin-bottom: 8px;
  }

  .content {
    color: var(--color-text);
    font-family: var(--inter-font);
    font-size: _calc-rem(12px);
    font-weight: 400;
    line-height: _calc-rem(16px);
  }

  .icon-wrap {
    align-items: center;
    border: 2px solid currentColor;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    .icon {
      fill: currentColor;
      height: 16px;
      width: 16px;
    }
  }

  .metric {
    align-items: flex-end;
    display: flex;
    gap: 4px;
    justify-content: center;
    margin: 16px 0;

    & > div {
      align-items: flex-end;
      display: flex;
      height: 100%;
    }

    .icon {
      height: 2.25rem;
      width: 2.25rem;

      @media screen and (min-width: $breakpoint-small) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .metric__value {
      font-family: var(--articulat-font);
      font-size: _calc-rem(70px);
      font-weight: 700;
      letter-spacing: 0em;
      line-height: 0.75em;

      @media screen and (min-width: $breakpoint-small) {
        font-size: _calc-rem(40px);
      }
    }

    .metric__unit {
      font-family: var(--articulat-font);
      font-size: _calc-rem(24px);
      font-weight: 700;
      letter-spacing: 0em;
      line-height: _calc-rem(29px);
    }
  }

  .years {
    font-family: var(--articulat-font);
    font-size: _calc-rem(16px);
    font-weight: 500;
    line-height: _calc-rem(29px);
  }

  .product-icon {
    .icon {
      fill: currentColor;
      height: 27px;
      width: 55px;

      &.icon-microessentials {
        width: 100px;
      }
    }
  }
}
