.column-content__text-fifty-fifty {
  display: block;
  width: 100%;

  .text-fifty-fifty__positioner {
    height: auto;
    padding: 28px 0 24px;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 0;
      text-align: left;
    }
  }
  
  h2, h3 {
    margin-bottom: 32px;

    b, strong {
      font-weight: 800;
    }
    sup {
      font-size: 62%;
      position: relative;
    }
  }

  h2 {
    font-size: _rem-calc(24px);
    line-height: _rem-calc(32px);

    sup {
      top: -8px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      font-size: _rem-calc(56px);
      line-height: _rem-calc(65px);

      sup {
        top: -20px;
      }
    }
  }

  h3 {
    font-size: _rem-calc(24px);
    line-height: _rem-calc(32px);
    
    sup {
      top: -8px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      font-size: _rem-calc(40px);
      line-height: _rem-calc(48px);

      sup {
        top: -13px;
      }
    }
  }

  .text-fifty-fifty__text-content {
    font-size: _rem-calc(16px);
    line-height: _rem-calc(24px);

    @media screen and (min-width: $breakpoint-medium) {
      font-size: _rem-calc(20px);
      line-height: _rem-calc(24px);
    }
    b, strong {
      font-weight: 800;
    }
    i, em {
      font-style: italic;
    }
    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
  }

  .text-fifty-fifty__link-wrap {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @media screen and (min-width: $breakpoint-medium) {
        justify-content: flex-start;
    }
  }

  .text-fifty-fifty__button {
    font-size: _rem-calc(16px);
    line-height: _rem-calc(19px);
    padding: 8px 20px;
  }

  .text-fifty-fifty__inside-wrap {
    padding: 0 16px;
    max-width: 640px;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-small) {
      padding: 0 24px;
    }
  }

  &.cell-1-child {
    @media screen and (min-width: $breakpoint-medium) {
      justify-content: right;

      .text-fifty-fifty__inside-wrap {
        padding: 0 0 0 28px;
      }
    }
  }

  &.cell-2-child {
    @media screen and (min-width: $breakpoint-medium) {
      justify-content: left;

      .text-fifty-fifty__inside-wrap {
        padding: 0 28px 0 0;
      }
    }
  }

  &.theme-dark {

    .text-fifty-fifty__positioner {
      background: var(--color-bountiful);
    }

    h2, h3, p {
      color: var(--color-white);
    }
  }
}
