.accordion-post {
  &__container {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 0 30px 20px;
    border-bottom: 1px solid var(--color-text);

    &.uk-open {
      .accordion-post__headline {
        .icon-accordion-open {
          display: none;
        }

        .icon-accordion-close {
          display: block;
        }
      }
    }
  }

  &__headline {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    border: 0;
    background-color: transparent;
    position: relative;

    &:hover {
      color: var(--color-text);
    }

    svg {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: _calc-rem(22px);
      height: _calc-rem(32px);

      &.icon-accordion-close {
        display: none;
      }
    }

    .head-holder {
      display: flex;
      flex-direction: column;

      .sub-headline {
        font-size: _calc-rem(18px);
        line-height: _calc-rem(22px);
        font-weight: 700;
      }

      .headline {
        display: block;
        width: 100%;
        padding-top: 5px;
        font-size: _calc-rem(24px);
        line-height: _calc-rem(32px);
        font-weight: 700;
      }

      .uk-container {
        padding-left: 0;
        padding-right: 0;
      }

      .top-note {
        display: none !important;
      }
    }
  }


  &__content {
    margin: 0;

    .body-holder {
      .uk-container,.slider__container {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .top-note {
      display: none !important;
    }
  }
}
