.advanced-cn-plant {
    &__image-container {
        position: relative;
        display: none;

        @media screen and (min-width: $breakpoint-medium) {
            display: block;
        }

        .main-image,
        .cn-image,
        .bio-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .cn-image,
        .bio-image {
            display: none;
        }

        img {
            display: block;
            width: auto;
            margin: 0 auto;

            @media screen and (min-width: $breakpoint-medium) {
                height: 760px;
            }
        }
    }

    &__content-container {
        .main-content-container {
            display: block;
            width: 100%;
            margin-bottom: 56px;

            @media screen and (min-width: $breakpoint-medium) {
                margin-bottom: 104px;
            }

            h2 {
                display: block;
                width: 100%;
                margin-bottom: 24px;
                font-size: _calc-rem(32px);
                line-height: _calc-rem(38px);

                @media screen and (min-width: $breakpoint-medium) {
                    font-size: _calc-rem(56px);
                    line-height: _calc-rem(64px);
                }
            }

            .content {
                display: block;
                width: 100%;
                font-size: _calc-rem(20px);
                line-height: _calc-rem(24px);
            }

            .mobile-main-image {
                display: block;

                @media screen and (min-width: $breakpoint-medium) {
                    display: none;
                }
                
                img {
                    display: block;
                    width: auto;
                    height: 340px;
                    margin: 56px auto;
                }
            }
        }

        .active-content {
            .cn-container {
                display: block;
                width: 100%;
                padding-bottom: 65px;
                padding-left: 30px;
                position: relative;
                cursor: pointer;

                @media screen and (min-width: $breakpoint-medium) {
                    padding-bottom: 52px;
                }

                &::before {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-left: 1px solid var(--color-text);
                }

                &::after {
                    display: block;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-white);
                    border-radius: 50px;
                    border: 6px solid var(--color-text);
                    position: absolute;
                    top: 0;
                    left: -10px;
                }
            }

            .bio-container {
                display: block;
                width: 100%;
                padding-left: 30px;
                position: relative;
                cursor: pointer;
                
                &::before {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-left: 1px solid var(--color-bioscience-green);
                }

                &::after {
                    display: block;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-white);
                    border-radius: 50px;
                    border: 6px solid var(--color-bioscience-green);
                    position: absolute;
                    top: 0;
                    left: -10px;
                }
            }

            svg {
                display: block;
                width: _calc-rem(196px);
                height: _calc-rem(35px);
                margin-bottom: 10px;

                @media screen and (min-width: $breakpoint-medium) {
                    margin-bottom: 24px;
                }
            }

            .content {
                display: block;
                width: 100%;
                font-size: _calc-rem(20px);
                line-height: _calc-rem(24px);
                margin-bottom: 32px;

                @media screen and (min-width: $breakpoint-medium) {
                    font-size: _calc-rem(16px);
                    line-height: _calc-rem(20px);
                    margin-bottom: 24px;
                }
            }

            .btn {
                display: block;
                width: fit-content;
                line-height: 20px;
                margin: 0 auto;

                @media screen and (min-width: $breakpoint-medium) {
                    margin: 0;
                }

                &.btn--biosciences {
                    border-color: var(--color-bioscience-green);
                }
            }
        }
    }
}