.announcement-bar {
    display: block;
    width: 100%;
    padding: 16px 0;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 45px 0 17px;
    }

    &.background-black {
        background-color: var(--color-smoky-black);
        
        .announcement-bar__content {
            h1,
            h2,
            h3,
            p,
            a {
                color: var(--color-white-chocolate);      
            }
        }
    }

    &.background-teal {
        background-color: var(--color-bioscience-green);
        
        .announcement-bar__content {
            h1,
            h2,
            h3,
            p,
            a {
                color: var(--color-white);   
            }
        }
    }

    &__content {
        display: block;
        width: 100%;
        text-align: center;
        font-family: var(--inter-font);
        
        h1,
        h2,
        h3,
        p,
        a {
            font-size: _calc-rem(16px);
            line-height: _calc-rem(24px); 
            font-weight: 400;
        }

        a {
            position: relative;

            &::after {
                display: inline-block;
                content: '';
                height: 11px;
                width: 11px;
                margin-left: 8px;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3C!-- Generator: Adobe Illustrator 27.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11.5 11.5" style="enable-background:new 0 0 11.5 11.5;" xml:space="preserve"%3E%3Cstyle type="text/css"%3E .st0%7Bfill:%23EFE3D9;%7D%0A%3C/style%3E%3Cpath class="st0" d="M11.5,2.9l0,7.9c0,0.2-0.1,0.4-0.2,0.5c-0.1,0.1-0.3,0.2-0.6,0.2H2.9c-0.2,0-0.4-0.1-0.5-0.2 c-0.1-0.1-0.2-0.3-0.2-0.5s0.1-0.3,0.2-0.5c0.1-0.1,0.3-0.2,0.5-0.2h2.7l3.8,0.1L8,9L0.2,1.2C0.1,1.1,0,0.9,0,0.7 c0-0.1,0-0.2,0.1-0.4c0.1-0.1,0.2-0.2,0.3-0.3C0.5,0,0.6,0,0.7,0c0.2,0,0.4,0.1,0.5,0.2L9,8l1.3,1.5l-0.1-3.6V2.9 c0-0.2,0.1-0.4,0.2-0.5c0.1-0.1,0.3-0.2,0.5-0.2c0.2,0,0.4,0.1,0.5,0.2C11.5,2.5,11.5,2.7,11.5,2.9z"/%3E%3C/svg%3E');
            }
        }
    }
}