
.bento-box {
  display: none;
  opacity: 0;
  padding: 0 14px;
  transition: opacity .25s ease-in-out;

  &.unhide {
    display: block;
  }

  &.show {
    opacity: 1;
  }

  // change text and borders to white for this page
  &.bento-box--performance-acre-plus,
  &.bento-box--k-mag,
  &.bento-box--pegasus {
    .bento-box__element {
      background: var(--color-bountiful);
      h2,
      h3,
      p {
        color: var(--color-white);
      }
      .bento-btn {
        border: 1px solid var(--color-white);
        color: var(--color-white);
      }
      svg {
        fill: var(--color-white);
      }
      &.nutrient-wrapper {
        .column-wrapper {
          .nutrient {
            border: 1px solid var(--color-white);
            p {
              color: var(--color-white);
            }
          }
        }
      }
      &.calculator-wrapper {
        .right-side {
          &.aspire-calculator,
          &.microessentials-calculator {
            .icon-wrapper {
              border: 4px solid var(--color-white);

              p {
                color: var(--color-white);
              }

              svg {
                fill: var(--color-white);
              }
            }
          }
        }
      }
    }
  }

  &.bento-box--microessentials {
    .bento-box__element {
      background: var(--color-microessentials-yellow);
    }
  }

  &.bento-box--aspire {
    .bento-box__element {
      background: var(--color-aspire-green);
    }
  }

  &.bento-box--k-mag {
    .bento-box__element {
      background: var(--color-kmag-red);
    }
  }

  &.bento-box--pegasus {
    .bento-box__element {
      background: var(--color-pegasus-blue);
    }
  }

  &.bento-box--biopath {
    .bento-box__element {
      background: var(--color-biopath-blue);
    }
  }

  &.bento-box--powercoat {
    .bento-box__element {
      background: var(--color-biopath-blue);
    }
  }

  &.bento-box--biological {
    .bento-box__element {
      background: var(--color-bioscience-green);
    }
  }

  .bento-box__title {
    h2 {
      font-size: _rem-calc(32px);
      line-height: _rem-calc(38px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _rem-calc(40px);
        line-height: _rem-calc(48px);
      }

      span {
        font-weight: bold;
      }
    }
    
    &.bento-box__wrapper {
      max-height: 0;
      opacity: 0;
      transition: max-height .35s ease-in-out, opacity .35s ease-in-out;

      &.hidden {
        max-height: 300px;
        position: absolute;
      }

      &.showing {
        max-height: 300px;
        opacity: 1;
      }
    }
  }

  .uk-grid {
    margin-left: -24px;
  }

  .uk-grid-medium {
    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 34px;
    }
  }

  .bento-box__left-column,
  .bento-box__right-column,
  .bento-box__mobile-column {
    margin-top: 0;
    padding-left: 24px;
  }

  .bento-box__wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height .35s ease-in-out, opacity .35s ease-in-out;

    &.hidden {
      max-height: 4000px;
      position: absolute;
    }

    &.showing {
      max-height: 4000px;
      opacity: 1;
    }
  }

  .bento-box__left-cell,
  .bento-box__right-cell,
  .bento-box__mobile-cell {
    .mobile {
      transition: opacity .25s ease-in-out;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }

      &.hide {
        display: none;
      }

      &.noshow {
        opacity: 0;
      }
    }

    .desktop {
      display: none;
      transition: opacity .25s ease-in-out;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }

      &.hide {
        display: none;
      }

      &.noshow {
        opacity: 0;
      }
    }
  }

  .bento-box__element {
    border-radius: 8px;
    color: var(--color-text);
    margin-bottom: 14px;
    padding: 22px 12px 28px;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 22px 33px 37px;
    }

    .bento-btn {
      border: 1px solid var(--color-text);
      border-radius: 40px;
      display: inline-block;
      font-size: 16px;
      padding: 4px 18px;
    }

    &.image-element {
      height: 580px;
      object-fit: cover;
      padding: 0;
    }

    &.trial-data {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;

      @media screen and (min-width: $breakpoint-medium) {
        text-align: left;
      }

      h2 {
        color: var(--color-white);
        font-family: var(--inter-font);
        margin-bottom: 12px;
        margin-top: 4px;
        text-align: left;

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _rem-calc(32px);
          font-weight: 600;
          line-height: _rem-calc(36px);
          margin-bottom: 32px;
          margin-top: 0;
        }
      }
      
      .bento-btn {
        color: var(--color-white);
        border-color: var(--color-white);
      }
    }

    &.agrifact {
      text-align: center;

      @media screen and (min-width: $breakpoint-medium) {
        text-align: left;
      }
      h2 {
        font-family: var(--inter-font);
        line-height: 30px;
        margin-bottom: 6px;
        text-align: left;

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _rem-calc(32px);
          font-weight: 600;
          line-height: _rem-calc(36px);
          margin-bottom: 24px;
        }
      }

      .column-wrapper {
        margin-left: 0;
      }
      
      .left-side {
        margin-bottom: 26px;

        @media screen and (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }
        .paragraph {
          line-height: 22px;
          max-width: 205px;
          text-align: left;
        }

        .bento-btn {
          display: none;

          @media screen and (min-width: $breakpoint-medium) {
            display: inline-block;
            margin-top: 63px
          }
        }
      }

      .right-side {
        .big-number {
          display: flex;
          justify-content: center;

          svg {
            align-self: flex-end;
            left: -12px;
            margin-right: 10px;
            position: relative;

            @media screen and (min-width: $breakpoint-medium) {
              left: 25px;
            }
          }

          p {
            font-size: 120px;
            font-weight: 700;
            letter-spacing: -12px;
            line-height: 90px;
            position: relative;
            left: -12px;

            @media screen and (min-width: $breakpoint-medium) {
              left: 25px;
            }
          }
        }

        .units {
          font-size: 40px;
          font-weight: 600;
          line-height: 40px;
          position: relative;
          left: 15px;
          margin-top: 18px;
          margin-bottom: 25px;

          @media screen and (min-width: $breakpoint-medium) {
            left: 25px;
            margin-bottom: 0;
            text-align: center;
          }
        }

        .bento-btn {
          @media screen and (min-width: $breakpoint-medium) {
            display: none;
          }
        }
      }
    }

    &.benefit-wrapper {
      h2 {
        font-weight: 600;
        margin-bottom: 8px;

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _rem-calc(24px);
          line-height:  _rem-calc(32px);
          margin-top: 12px;
          margin-bottom: 15px;
        }
      }

      p {
        font-size: _rem-calc(16px);
        line-height: _rem-calc(24px);
        margin-bottom: 54px;
      }
    }

    &.performance-acre {
      h2 {
        font-size: _rem-calc(32px);
        line-height: _rem-calc(32px);
        font-weight: 700;
        margin-bottom: 6px;

        @media screen and (min-width: $breakpoint-medium) {
          margin-top: 4px;
          margin-bottom: 6px;
        }
      }

      h3 {
        font-size: _rem-calc(20px);
        font-weight: 600;
        line-height: _rem-calc(24px);
        margin-bottom: 19px;
      }

      p {
        font-size: _rem-calc(16px);
        line-height: _rem-calc(24px);
        margin-bottom: 24px;
      }

      svg {
        height: 32px;
      }
    }

    &.calculator-wrapper {
      text-align: center;

      @media screen and (min-width: $breakpoint-medium) {
        text-align: left;
      }
      h2 {
        font-family: var(--inter-font);
        line-height: 30px;
        margin-bottom: 6px;
        text-align: left;

        @media screen and (min-width: $breakpoint-medium) {
          font-size: 32px;
          font-weight: 600;
          line-height: 36px;
          margin-bottom: 24px;
          margin-top: 7px;
        }
      }

      .column-wrapper {
        margin-left: 0;
      }

      .left-side {
        margin-bottom: 26px;

        @media screen and (min-width: $breakpoint-medium) {
          margin-bottom: 0;

          &.nutrient-calculator {
            padding-top: 40px;

            .bento-btn {
              margin-top: 63px;
            }
          }

          &.aspire-calculator,
          &.microessentials-calculator {
            padding-top: 31px;

            .bento-btn {
              margin-top: 95px;
            }
          }
        }
        .paragraph {
          line-height: 22px;
          max-width: 254px;
          text-align: left;
        }

        .bento-btn {
          display: none;

          @media screen and (min-width: $breakpoint-medium) {
            display: inline-block;
          }
        }
      }

      .right-side {
        &.nutrient-calculator {
          text-align: center;

          .big-number {
            font-size: 80px;
            font-weight: 900;
            letter-spacing: -7px;
            line-height: 60px;
            position: relative;
            left: -12px;

            @media screen and (min-width: $breakpoint-medium) {
              left: 0;
            }
          }

          .units {
            font-size: _rem-calc(12px);
            left: 53px;
            line-height: _rem-calc(12px);
            margin-bottom: 22px;
            margin-top: 12px;
            position: relative;
            

            @media screen and (min-width: $breakpoint-medium) {
              left: -40px;
              text-align: right;
            }
          }

          svg {
            display: block;
            height: 50px;
            margin: 0 auto 25px;
            width: 200px;

            @media screen and (min-width: $breakpoint-medium) {
              margin: 0 0 25px auto;
            }
          }
        }
        &.aspire-calculator,
        &.microessentials-calculator {
          padding-top: 15px;

          .inner-wrapper {
            text-align: center;
          }

          .icon-wrapper {
            align-items: center;
            border: 4px solid var(--color-text);
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto 25px;
            height:154px;
            width: 154px;
          }

          svg {
            width: 80px;
            height: 40px;
            fill: var(--color-text);
          }

          p {
            color: var(--color-text);
            font-size: _rem-calc(17px);
            font-weight: bold;
            position: relative;
            top: -4px;
          }
        }
        .bento-btn {
          @media screen and (min-width: $breakpoint-medium) {
            display: none;
          }
        }
      }
    }

    &.nutrient-wrapper {
      h2 {
        font-size: _rem-calc(24px);
        line-height:  _rem-calc(30px);
        font-family: var(--inter-font);
        font-weight: 700;
        margin-bottom: 12px;

        @media screen and (min-width: $breakpoint-medium) {
          margin-top: 12px;
          margin-bottom: 15px;
        }
      }

      p {
        font-size: _rem-calc(16px);
        line-height: _rem-calc(22px);
        margin-bottom: 19px;
      }

      .column-wrapper {
        margin-left: 0;
        padding: 0 16px;

        @media screen and (min-width: $breakpoint-medium) {
          padding: 0;
        }

        .nutrient {
          border: 1px solid var(--color-text);
          border-radius: 5px;
          display: block;
          height: 80px;
          margin: 4px;
          padding-top: 29px;
          position: relative;
          width: 80px;
          text-align: center;

          .nutrient-symbol {
            color: var(--color-text);
            margin: 0;
            font-family: $articulat-cf;
            font-size: _calc-rem(30px);
            font-weight: 700;
          }

          .nutrient-name {
            bottom: 11px;
            color: var(--color-text);
            font-size: _rem-calc(12px);
            font-weight: bold;
            line-height: _rem-calc(10px);
            margin: 0;
            position: absolute;
            text-align: center;
            width: 100%;
          }
        }
      }
      .bento-btn-wrap {
        text-align: center;
        width: 100%;

        @media screen and (min-width: $breakpoint-medium) {
          text-align: left;
        }
      }
      .bento-btn {
        margin: 16px auto 0;

        @media screen and (min-width: $breakpoint-medium) {
          margin: 24px auto 0 0;
        }
      }
    }
  }

  .bento-box__load-more {
    margin-top: 48px;
    width: 100%;
    text-align: center;

      .bento-box__more-less-button {
        border: 1px solid var(--color-text);
        border-radius: 40px;
        display: block;
        font-size: 16px;
        margin: 0 auto;
        padding: 4px 18px;

        span {
          transition: opacity .25s ease-in-out;
        }

        &.hidden {
          display: none;
        }
      }
  }
}



