.carousel-hero {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  &__slides {
    height: 100%;
    height: auto;

    @media screen and (min-width: $breakpoint-medium) {
      width: 100%;
    }
  }

  &--link {
    text-decoration: none;
  } 
}

.carousel-hero-slide {
  position: relative;
  display: none;
  height: auto;
  width: 100%;
  border-radius: 0px 0px 80px 0px;
  overflow: hidden;


  @media screen and (min-width: $breakpoint-medium) {
    height: 440px;
  }

  &__image {
    display: none;
    @media screen and (min-width: $breakpoint-medium) {
      display: block;
    }
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  &__video {
    height: 100%;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
    }
  }

  &__image-mobile {
    display: block;
    @media screen and (min-width: $breakpoint-medium) {
      display: none;
    }
    width: 100%;
    height: auto;
    background-size: cover;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__logo {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
    @media screen and (min-width: $breakpoint-medium) {
      width: 135px;
      height: auto;
    }
    @media screen and (min-width: $breakpoint-large) {
      width: 180px;
      height: auto;
      margin-bottom: 40px;
    }

    &--spacer {
      height: 29px;
      @media screen and (min-width: $breakpoint-medium) {
        height: 42px;
      }
      @media screen and (min-width: $breakpoint-large) {
        height: 57px;
      }
      visibility: hidden;
    }
  }

  &__headline {
    color: var(--color-smoky-black);
    font-style: normal;
    font-weight: 800;
    line-height: .9;
    text-transform: uppercase;

    &--size-medium {
      font-size: 40px;
      letter-spacing: -.8px;
    }
    &--size-large {
      font-size: 70px;
      letter-spacing: -1.4px;
    }
    &--emphasis-light-gray {
      em {
        color: var(--color-white-chocolate);
      }
    }
    &--emphasis-orange {
      em {
        color: var(--color-microessentials-yellow);
      }
    }

    @media screen and (min-width: $breakpoint-small) {
      &--size-medium {
        font-size: 60px;
        letter-spacing: -1.2px;
      }
      &--size-large {
        font-size: 105px;
        letter-spacing: -2.1px;
      }
    }

    @media screen and (min-width: $breakpoint-medium) {

      &--size-medium {
        font-size: 60px;
        letter-spacing: -1.2px;
      }
      &--size-large {
        font-size: 105px;
        letter-spacing: -2.1px;
      }
    }

    @media screen and (min-width: $breakpoint-large) {

      &--size-medium {
        font-size: 80px;
        letter-spacing: -1.6px;
      }
      &--size-large {
        font-size: 140px;
        letter-spacing: -2.8px;
      }
    }
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 30px 20px 30px;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 40px 60px 40px 60px;
    }
  }

  &__button {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 800;
    text-transform: uppercase;

    &--theme-orange {
      background-color: var(--color-microessentials-yellow);
      color: var(--color-smoky-black);
    }

    &--theme-light-gray {
      background-color: var(--color-white-chocolate);
      color: var(--color-smoky-black);
    }

    @media screen and (min-width: $breakpoint-small) {
      font-size: 14px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      padding: 15px 30px 15px 30px;
      font-size: 15px;
    }
  }

  &--active {
    display: block;
  }
}

.carousel-hero-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  align-items: center;

  &__sequential {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F9A41D;

    &--active {
      background-color: #000;
    }
  }

  &__control {
    svg {
      height: 20px;
      width: 20px;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    flex-direction: row;
    gap: 0;

    .carousel-hero-controls__dots {
      margin-left: 50%;
    }

    .carousel-hero-controls__sequential {
      margin-left: auto;
    }
  }
}