.content-area {
  transition: opacity .3s ease-in-out;

  &.hide {
    display: none;
  }

  &.unshow {
    opacity: 0;
  }
  
  &__heading {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    position: relative;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 80px;
    }

    &::after {
      display: block;
      content: '';
      width: 100%;
      max-width: 715px;
      height: 6px;
      background-color: var(--color-soil-yellow);
    }

    h1 {
      font-size: _calc-rem(40px);
      line-height: _calc-rem(40px);
      display: block;
      width: 100%;
      max-width: 715px;
      padding-bottom: 26px;
      
      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(56px);
        line-height: _calc-rem(64px);
        padding-bottom: 24px;
      }
    }
  }

  &__body {
    display: block;
    width: 100%;
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid;

    h2 {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(30px);
      display: block;
      margin-bottom: 24px;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(40px);
        line-height: _calc-rem(48px);
        max-width: 720px;
      }

      b, 
      strong {
        font-weight: 700;
      }

      i,
      em {
        font-style: italic;
      }
    }

    h3 {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(30px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(38px);
        max-width: 720px;
      }

      b, 
      strong {
        font-weight: 700;
      }

      i,
      em {
        font-style: italic;
      }
    }

    p {
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);

      b, 
      strong {
        font-weight: 700;
      }

      i,
      em {
        font-style: italic;
      }

      a {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin: 14px 0;

      li {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 16px;

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;
        }

        b, 
        strong {
          font-weight: 700;
        }

        i,
        em {
          font-style: italic;
        }
      }
    }

    ol {
      list-style-type: auto;
      padding-left: 20px;
      margin: 14px 0;

      li {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        margin-bottom: 16px;

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;
        }

        b, 
        strong {
          font-weight: 700;
        }

        i,
        em {
          font-style: italic;
        }
      }
    }

    img {
      display: block;
      margin: 24px 0;
    }
  }

  &__jump-to {
    .jump-headline {
      color: var(--color-border-gray);
      font-size: _calc-rem(16px);
      font-weight: 800;
      letter-spacing: 3px;
      line-height: _calc-rem(24px);
      margin-bottom: 16px;
    }

    .section-name {
      color: var(--color-link-gray);
      font-size: 14px;
      line-height: 16px;
      display: block;
      width: 100%;
      margin-bottom: 16px;
      cursor: pointer;
    }

    .label-container {
      display: flex;
      align-items: center;
    }

    .select-container {
      display: block;
      width: 100%;
      position: relative;

      .section-select {
        display: block;
        width: 100%;
        border: 1px solid var(--color-nutrient-text-border);
        background-color: var(--color-white);
        padding: 10px 16px;
        font-weight: 400;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(16px);
        font-family: var(--articulat-font);
        color: var(--color-border-gray);
        appearance: none;
      }

      svg {
        position: absolute;
        z-index: 1;
        width: _calc-rem(14px);
        height: _calc-rem(14px);
        top: 12px;
        right: 10px;
      }
    }

    .uk-sticky-fixed:before {
      display: block;
      content: '';
      position: fixed;
      width: 100%;
      height: 100px;
      top: 70px;
      left: 0;
      background-color: var(--color-white);
      z-index: -1;
    }
  }
}