
.content-block {
  transition: opacity .3s ease-in-out;

  &.hide {
    display: none;
  }

  &.unshow {
    opacity: 0;
  }
  
  &__heading {
    h2 {
      font-size: _calc-rem(32px);
      line-height: _calc-rem(38px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(56px);
        line-height: _calc-rem(64px);
        max-width: 720px;
      }
    }

    h3 {
      font-size: _calc-rem(32px);
      line-height: _calc-rem(38px);

      @media screen and (min-width: $breakpoint-medium) {
        font-size: _calc-rem(40px);
        line-height: _calc-rem(48px);
        max-width: 720px;
      }
    }
  }

  &__title {
    font-family: var(--articulat-font);
    display: block;
    width: 100%;

    b, 
    strong {
      font-weight: 700;
    }

    i,
    em {
      font-style: italic;
    }

    sup {
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      position: relative;
      top: -17px;
      margin-left: 2px;
    }

    sub {
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);
      position: relative;
      bottom: -5px;
      margin-left: 2px;
    }
  }

  &__content-container {
    width: 100%;
    margin-top: 24px;

    @media screen and (min-width: $breakpoint-medium) {
      max-width: 720px;
      float: right;
      margin-top: 40px;
    }
  }

  &__content {
    * {
      color: var(--color-text);
    }
    p {
      font-size: _calc-rem(20px);
      line-height: _calc-rem(24px);

      b, 
      strong {
        font-weight: 700;
      }

      i,
      em {
        font-style: italic;
      }

      em {
        &:first-child, &:last-child {
          font-size: inherit;
        }
      }

      a {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin: 14px 0;

      li {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;
        }

        b, 
        strong {
          font-weight: 700;
        }

        i,
        em {
          font-style: italic;
        }
      }
    }
  }

  &__button-container {
    a {
      display: block;
      width: fit-content;
      margin-top: 40px;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(19px);
      padding: 8px 20px;
    }
  }
}