$where-to-buy-accent-color: var(--color-seed);

.dealer-locator {
  
  &__title {
    font-family: var(--articulat-font);
    font-weight: 400;
    margin-bottom: 60px;
  }

  .filter__button-group {
    text-align: center;
  }

  .wtb-form {
    text-align: center;
    display: inline-block;
    margin: auto;

    @media screen and (min-width: $breakpoint-medium) {
      text-align: left;
      max-width: 645px;
      width: 100%;
    }
  }

  .wtb-fields-container {
    flex-direction: column;
    display: flex;
    margin: auto;
    gap: 15px;
    @media screen and (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
  }

  .wtb-form-row {
    display: flex;
    gap: 15px;
    flex-grow: 1;
  }

  .wtb-location-field-container {
    flex-basis: 170px;
  }

  .wtb-distance-field-container {
    flex-basis: 100px;
    flex-grow: 1;
  }

  .wtb-product-container{
    flex-grow: 1;
  }

  .cn-input {
    width: 100%;
  }

  [data-button='locate'] {
    animation: pulse 1s infinite;
  }

  .btn {
    &--close {
      align-items: center;
      display: flex;
      gap: 8px;
      justify-content: center;

      .icon {
        fill: currentColor;
        height: 0.7rem;
        width: 0.7rem;
      }
    }
  }

  &__row {
    display: flex;
    margin-bottom: 2.25rem;
  }

  &__dealers {
    border-bottom: 1px solid var(--color-border-gray);
    height: 20rem;
    margin-bottom: 20px;
    overflow-x: visible;
    overflow-y: scroll;

    @media screen and (min-width: $breakpoint-medium) {
      border-bottom: 0;
      height: 40rem;
      margin-bottom: 0;
    }

    &--no-results {
      .dealer {
        h3 {
          font-family: var(--inter-font);
          font-size: _calc-rem(24px);
          font-weight: 400;
          line-height: _calc-rem(32px);
        }
      }
    }
  }

  .dealer {
    background-color: var(--color-white);
    padding: 16px 32px 16px 50px;
    position: relative;

    a {
      text-decoration: underline;
    }

    p,
    a,
    li {
      color: var(--color-text);
      font-family: var(--inter-font);
      font-size: _calc-rem(14px);
      font-weight: 400;
      line-height: _calc-rem(17px);
    }

    &__index {
      color: $where-to-buy-accent-color;
      font-family: var(--inter-font);
      font-size: _calc-rem(32px);
      font-weight: 800;
      left: 0;
      line-height: _calc-rem(42px);
      position: absolute;
      min-width: 42px;
      text-align: center;
      top: 8px;
    }

    &__title {
      align-items: center;
      display: flex;
      gap: 16px;
      justify-content: space-between;

      .dealer__name {
        flex: 1;
      }
    }

    &__address p {
      opacity: 0.5;

      &:last-child {
        opacity: 1;
      }
    }

    &__directions {
      a {
        opacity: 0.5;
      }
    }

    &__phone {
      opacity: 0.5;
    }

    &__products {
      p {
        &.dealer__products-title {
          font-weight: 700;
          line-height: _calc-rem(24px);
        }
      }

      li {
        line-height: _calc-rem(24px);
        width: 50%;
      }

      ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }

    &.uk-active {
      background-color: var(--color-growth);
      transition: all 0.3s ease-in-out;
    }
  }

  &__map {
    height: 20rem;

    @media screen and (min-width: $breakpoint-medium) {
      height: 40rem;
    }
  }

  &__info-window {
    .dealer {
      padding: 8px;
    }
  }

  &__results-count {
    font-family: var(--inter-font);
    font-size: _calc-rem(14px);
    font-weight: 400;
    line-height: _calc-rem(17px);
  }


  &--orange {

    .dealer__index {
      color: var(--color-microessentials-yellow);
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
