.episode-filtering {
  .filter-container {
    display: block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid;
    gap: 2em;
    grid-template-columns: repeat(5, 1fr);

    .filter-text {
      display: inline-block;
      margin-right: 10px;
    }

    .filter {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      min-width: 190px;
      
      > label {
        background-color: var(--color-white);
        border: 1px solid;
        border-radius: 40px;
        color: var(--color-black);
        height: auto;
        padding: 10px 45px 10px 15px;
        display: block;

        svg {
          width: _calc-rem(18px);
          height: _calc-rem(25px);
          position: absolute;
          right: 10px;
        }
      }

      .dropdown-wrapper {
        border-radius: 5px;
        border-top: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .161);
        margin: 10px 0 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 9;

        &.hidden {
          display: none;
        }

        .apply-wrapper {
          background: $seed;
          display: inline-block !important;
          margin: 0;
          padding: 5px 10px;
          width: 100%;

          input {
            background: $good-earth-black;
            color: $white;
            font-size: _calc-rem(16px);
            font-weight: 400;
            padding: 5px 15px 8px;
            line-height: 1;
            float: right;
            border-radius: 102px;
            cursor: pointer;
            border: none;
          }
  
          input:hover {
            text-decoration: none;
          }
        } 

        .options-wrapper {
          padding: 15px 10px;
          max-height: 400px;
          overflow: auto;
          background: $white;
          margin-top: -7px;

          .select-option-wrapper {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            line-height: 1;

            label {
              width: 100%;
              display: flex;
              min-height: 35px;
              align-items: center;
            }
    
            input[type="checkbox"] {
              accent-color: $seed;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__headline {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .episode-slider {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  &__grid-card {
    display: block;
    width: 100%;
    text-align: center;
    
    .image {
      display: block;
      width: 100%;
      height: 280px;
      border-bottom-right-radius: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 10px;

      @media screen and (min-width: $breakpoint-medium) {
        height: 150px;
      }
    }

    .title {
      display: block;
      width: 100%;
      z-index: 1;
      color: var(--color-black);
      font-size: _calc-rem(23px);
      font-weight: 700;
      position: relative;
      line-height: _calc-rem(25px);
      margin-bottom: 5px;
    }

    .episode-number {
      display: block;
      width: 100%;
      z-index: 1;
      color: var(--color-black);
      position: relative;
    }
  }

  &__farmer-card {
    display: block;
    width: 100%;

    .image {
      display: block;
      width: 100%;
      height: 250px;
      border-bottom-right-radius: 40px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 10px;
    }

    .name {
      display: block;
      width: 100%;
      z-index: 1;
      font-size: _calc-rem(23px);
      font-weight: 700;
      position: relative;
      line-height: _calc-rem(25px);
      margin-bottom: 5px;
    }
  }

  .button-container {
    button {
      margin: 10px 0;
      padding: 10px 5px;

      &.next-button {
        float: right;
      }
    }
  }

  #view-more-farmers {
    background-color: var(--color-black);
    border: 1px solid;
    border-radius: 40px;
    color: var(--color-white);
    display: block;
    padding: 10px 15px;
    margin: 50px auto 10px;
    text-align: center;
  } 
}