.explore-more {
  max-width: 374px;
  margin: auto;

  @media screen and (min-width: $breakpoint-medium) {
    max-width: unset;
  }

  &__header {
    @media screen and (min-width: $breakpoint-medium) {
      flex-grow: 1;
      min-width: 548px;
    }
  }
  
  &__link-container {
    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 34px;
      flex-grow: 1;
    }
  }
  
  &__eyebrow {
    font-family: var(--inter-font);
    font-size: _calc-rem(16px);
    line-height: 1.5;
    color: var(--color-good-earth-black);
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 0px 26px 0px 26px;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 0px;
    }
  }

  &__header-image {
    height: 200px;
    border-radius: 0px 0px 60px 0px;
    background-size: cover;
    margin: 0px 26px 40px 26px;

    &--mobile {
      display: block;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    @media screen and (min-width: $breakpoint-medium) {
      height: 348px;
      margin: 0px;
    }
  }

  &__link {
    padding: 14px 26px 9px 26px;
    display: flex;

    &:hover {
      background-color: rgba(245, 169, 43, 0.30);
    }

    @media screen and (min-width: $breakpoint-medium) {
      padding: 10px 20px;
    }
  }

  &__link-preview-image {
    width: 78px;
    height: 71px;
    border-radius: 0px 0px 30px 0px;
    background-size: cover;
    margin-right: 20px;
    flex-shrink: 0;

    @media screen and (min-width: $breakpoint-medium) {
      width: 126px;
      height: 118px;
    }
  }

  &__link-title {
    font-family: var(--inter-font);
    font-size: _calc-rem(18px);
    color: #231F20;
    line-height: 1.11;
    text-transform: capitalize;

    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 90px;
  }

  &--hide-desktop {
    @media screen and (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  &__sticky-cta {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: var(--color-smoky-black);
    padding: 15px;
    animation: 1s slide-up;

    &.show {
      display: inline-block;
      bottom: 0;
    }

    @keyframes slide-up {
      from {
        bottom: -50px;
      }
      to {
        bottom: 0;
      }
    }

    button {
      margin: 0 auto;
      color: var(--color-black);
      background-color: var(--color-microessentials-yellow);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 8px 20px;
      border-radius: 40px;
      outline: none;
      border: 0;

      svg {
        width: _calc-rem(11px);
        height: _calc-rem(11px);
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
      }
    }
  }
}