.farmer-slider-block {
  &__slider {
    .main-holder {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (min-width: $breakpoint-medium) {
        height: 640px;
        gap: 25px;
        flex-direction: row;
        justify-content: center;
      }

      .left, .right {
        flex: 1;
        width: 100%;
        @media screen and (min-width: $breakpoint-medium) {
          width: 50%;
        }
      }

      .left {
        .img-holder {
          position: relative;
          height: 513px;
          @media screen and (min-width: $breakpoint-medium) {
            height: 100%;
          }

          .slider-img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 20px 0 0 20px;
          }

          .content-holder {
            position: absolute;
            bottom: 38px;
            left: 41px;
          }
        }
      }

      .right {
        background: var(--color-pine-tree);
        padding: 35px 12px 35px 12px;
        color: var(--color-white);
        min-height: 662px;
        @media screen and (min-width: $breakpoint-small) {
          min-height: 600px;
        }
        @media screen and (min-width: $breakpoint-medium) {
          padding: 82px 45px 45px 45px;
          border-radius: 0 20px 20px 0;
          height: 100%;
        }

        .mt-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .title, .sub-title, .content {
            font-weight: 400;
            color: var(--color-white);
          }


          .title {
            font-size: _calc-rem(40px);
            line-height: _calc-rem(48px);
            margin-bottom: 12px;
            font-family: var(--articulat-font);

            h3 {
              color: var(--color-white);
            }
          }

          .sub-title {
            font-size: _calc-rem(20px);
            line-height: _calc-rem(24px);
            margin-bottom: 30px;
          }

          .content {
            p{
             color: var(--color-white);
            }

            b, strong {
              font-weight: 700;
            }

            font-size: _calc-rem(20px);
            line-height: _calc-rem(26px);
            margin-bottom: 42px;
            font-family: var(--inter-font);

            ul {
              padding-left: 26px;
              list-style: disc;

              li {
                margin-bottom: 5px;
                font-size: _calc-rem(18px);
              }
            }

            blockquote {
              font-weight: 700;
            }
          }

          .social-media-wrapper {
            display: flex;
            gap: 5px;
            margin-bottom: 40px;

            .icon-wrapper {
              width: 37px;
              height: 37px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid var(--color-white);


              a {
                display: flex;

                .icon {
                  width: 24px;
                  height: 24px;
                  color: var(--color-white);
                }
              }
            }
          }

          .next-move {
            font-weight: 400;
            font-size: _calc-rem(16px);
            line-height: _calc-rem(20px);
            display: flex;
            gap: 5px;
            cursor: pointer;
            margin-bottom: 40px;
            justify-content: center;
            @media screen and (min-width: $breakpoint-medium) {
              margin-bottom: unset;
              justify-content: unset;
            }

            button {
              display: flex;
              color: var(--color-white);
              align-items: center;
              gap: 10px;
              padding: 0;

              &:hover {
                text-decoration: underline;
              }

              svg {
                width: 20px;
                height: 20px;
                &:not(.icon) {
                  display: none;
                }
              }
            }

            .arrow {
              background-position: center;
              background-position-y: center;
            }
          }

          .operation-overview {

            height: 240px;
            @media screen and (min-width: $breakpoint-medium) {
              height: auto;
            }

            .sub-holder {

              .top-label {
                font-weight: 400;
                font-size: _calc-rem(14px);
                line-height: _calc-rem(15px);
                display: none;
                @media screen and (min-width: $breakpoint-medium) {
                  display: block;
                  margin-bottom: 12px;
                }
              }

              .group-wrapper {
                display: flex;
                gap: 17px;
                height: 113px;
                flex-wrap: wrap;
                justify-content: center;
                @media screen and (min-width: $breakpoint-medium) {
                  justify-content: unset;
                  flex-wrap: nowrap;
                }

                .land-wrapper {
                  display: flex;
                  flex-direction: column;
                  background-color: var(--color-seed);
                  border-radius: 5px;
                  width: 113px;
                  height: inherit;
                  gap: 17px;
                  padding: 14px;

                  .label {
                    font-family: var(--articulat-font);
                    font-weight: 400;
                    color: var(--color-bountiful);
                    font-size: _calc-rem(14px);
                    line-height: _calc-rem(15px);
                  }

                  .data {
                    font-family: var(--articulat-font);
                    color: var(--color-bountiful);
                    font-weight: 700;
                    font-size: _calc-rem(30px);
                    line-height: _calc-rem(33px);
                  }
                }

                .crops-wrapper {
                  padding: 14px;
                  min-width: 113px;
                  background-size: cover;
                  height: inherit;

                  .title {
                    font-weight: 400;
                    font-size: _calc-rem(14px);
                    line-height: _calc-rem(15px);
                  }

                  .crops-list {
                    display: flex;
                    gap: 11px;

                    .crop {
                      display: flex;
                      flex-direction: column;
                      gap: 5px;

                      .crop-ico-holder {
                        border: 1px solid var(--color-white);
                        width: 38px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                          width: 20px;
                          height: 20px;
                        }
                      }

                      .crop-name {
                        font-weight: 600;
                        font-size: _calc-rem(9px);
                        line-height: _calc-rem(13px);
                        text-transform: capitalize;
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 40px;
                      }
                    }
                  }
                }

                .tillage-wrapper {
                  padding: 18px;
                  border-radius: 8px;
                  border: 3px solid var(--color-white);
                  display: flex;
                  flex-direction: column;
                  width: 162px;
                  height: inherit;

                  .title {
                    color: var(--color-white);
                    font-weight: 400;
                    font-size: _calc-rem(14px);
                    line-height: _calc-rem(15px);
                  }

                  .content {
                    color: var(--color-white);
                    font-weight: 700;
                    font-size: _calc-rem(14px);
                    line-height: _calc-rem(15px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
