.farmer-episodes {
  &__headline {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  &__card {
    display: block;
    width: 100%;
    
    .image {
      display: block;
      width: 100%;
      height: 150px;
      border-bottom-right-radius: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 10px;
    }

    .title {
      display: block;
      width: 100%;
      z-index: 1;
      color: var(--color-black);
      font-size: _calc-rem(23px);
      font-weight: 700;
      position: relative;
      line-height: _calc-rem(25px);
      margin-bottom: 5px;
      text-align: left;
    }
  }
}