.frontier-field-trial-block {
  .main-wrapper {
    &__heading {
      margin-bottom: 22px;
      @media screen and (min-width: $breakpoint-small) {
        margin-bottom: 44px;
      }

      h3 {
        font-weight: 400;
        line-height: _calc-rem(36px);
        font-size: _calc-rem(32px);
        @media screen and (min-width: $breakpoint-small) {
          line-height: _calc-rem(48px);
          font-size: _calc-rem(40px);
        }
      }

      b {
        font-weight: 700;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $breakpoint-small) {
        flex-direction: row;
      }

      .image-holder {
        height: 513px;
        min-width: 257px;
        @media screen and (min-width: $breakpoint-small) {
          height: 100%;
        }

        img {
          height: inherit;
        }

        &__image {
          display: none;
          @media screen and (min-width: $breakpoint-small) {
            display: block;
          }
        }

        &__mobile-image {
          display: block;
          object-fit: cover;
          @media screen and (min-width: $breakpoint-small) {
            display: none;
          }
        }
      }

      .data-wrapper {
        padding: 40px 20px 0 20px;
        display: flex;
        background-color: var(--color-quill-gray);
        border-radius: 0 8px 8px 0;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-quill-gray);
        @media screen and (min-width: $breakpoint-small) {
          flex-direction: row;
        }

        .inner-content {
          &__item {
            padding-bottom: 40px;
            color: var(--color-pine-tree);

            .item_heading {
              font-size: _calc-rem(24px);
              line-height: _calc-rem(26.4px);
              font-weight: 400;
              padding-bottom: 4px;
            }

            .item-label {
              font-weight: 400;
            }

            .item-bu-ac-label {
              font-size: _calc-rem(12px);
              line-height: _calc-rem(13px);
              font-weight: 400;
              margin-bottom: 2px;
            }

            .item-description {
              font-size: _calc-rem(20px);
              line-height: _calc-rem(22px);
              font-weight: 700;
            }

            .yield-wrapper {
              display: flex;
              align-items: flex-end;
              gap: 5px;
            }
          }
        }

        .left-block {
          flex: 1;
        }

        .right-block {
          flex: 1;
          @media screen and (min-width: $breakpoint-medium) {
            flex: 2;
          }
        }
      }
    }
  }
}
