.gated-content__form {
  padding: 40px 8px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;

  h3 {
    padding-bottom: 16px;
  }

  .gated-content__button-wrapper {
    display: none;
    margin-bottom: 24px;
  }

  .gated-content__form-wrapper {
    position: relative;
  }
  
  .gated-content__validation-wrapper {
    position: absolute;
    text-align: center;
    top: -26px;
    width: 100%;

    .gated-content__validation-message {
      color: var(--color-red);
      display: inline-block;
      transition: opacity .3s ease-in-out;

      &.hide {
        display: none;
      }
      &.unshow {
        opacity: 0;
      }
    }
  }

  /* .gated-content__short-form,
  .gated-content__tall-form,
  .gated-content__button-wrapper {
    transition: opacity .3s ease-in-out;

    &.hide {
      display: none;
    }
    &.unshow {
      opacity: 0;
    }
  } */

  input[type="text"] {
    border: 1px solid var(--color-text);
    border-radius: 4px;
    font-size: _rem-calc(14px);
    height: 40px;
    margin-bottom: 12px;
    padding-left: 12px;
    width: 100%;
  }

  .gated-content__input-wrapper {
    @media screen and (min-width: $breakpoint-medium) {
      &:first-child {
        padding-right: 6px;
      }

      &:last-child {
        padding-left: 6px;
      }
    }
  }

  .gated-content__full-input-wrapper,
  .gated-content__dropdown-wrapper,
  .gated-content__checkbox-wrapper,
  .gated-content__submit-wrapper {
    width: 100%;
  }
  
  .gated-content__dropdown-wrapper {
    button {
      border: 1px solid var(--color-text);
      border-radius: 4px;
      display: block;
      font-size: _rem-calc(14px);
      height: 40px;
      margin-bottom: 12px;
      max-width: 100%;
      padding: 0 0 0 12px;
      position: relative;
      text-align: left;
      text-transform: none;
      width: 100%;

      .gated-content__dropdown-button-placeholder {
        align-items: center;
        color: var(--color-inactive-gray);
        display: flex;
        font-size: _rem-calc(14px);
        height: 40px;
        left: 0;
        opacity: 1;
        padding-left: 12px;
        position: absolute;
        top: 0;
        transition: opacity .2s ease-in-out;

        &.hide {
          opacity: 0;
        }
      }

      .gated-content__dropdown-button-content {
        color: var(--color-text);
        font-size: _rem-calc(14px);
        transition: opacity .2s ease-in-out;

        &.hide {
          opacity: 0;
        }
      }

      svg {
        height: 14px;
        position: absolute;
        right: 24px;
        top: 13px;
        transform: scaleY(1);
        transition: transform .3s ease;
        width: 20px;
      }

      &[aria-expanded="true"] {
        svg {
            transform: scaleY(-1);
        }
      }
    }

    .gated-content__dropdown {
      border: 1px solid var(--color-nutrient-text-border);
      border-radius: 5px;
      height: 267px;
      max-width: 100%;
      overflow: auto;
      padding: 12px 0;
      width: 100%;

      li {
        align-items: center;
        color: var(--color-black);
        cursor: pointer;
        display: flex;
        font-family: 'Inter';
        font-size: _rem-calc(20px);
        font-weight: 300;
        height: 45px;
        margin: 0;
        padding: 0 0 0 13px;
        transition: background .25s ease-in-out;

        &:hover,
        &.selected {
            background: var(--color-growth);
        }

        svg {
            height: 20px;
            margin-right: 13px;
            width: 20px;
        }
      }
    }
  } // end .gated-content__dropdown-wrappe

  .gated-content__checkbox {
    margin-top: 6px;
  }

  .gated-content__checkbox-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    
    &.sms-checkbox {
      margin-top: 12px;
    }
    label {
      font-size: _rem-calc(14px);
      padding: 0 8px;

      a {
        font-size: _rem-calc(14px);
        text-decoration: underline;
      }
    }
  }

  .gated-content__submit-wrapper {
    margin-top: 20px;

    button {
      border-width: 1px;
    }
  }
}

#success-message {
  height: 500px;
  border-radius: 25px;
  display: none;

  #success-message__message {
    padding-top: 200px;
    padding-left: 50px;
    font: 20px Open Sans,system-ui,sans-serif;
  }
}

#success-message__close {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 20px Open Sans,system-ui,sans-serif;
  font-weight: bold;
  line-height: .75;
  float: right;
}

.mobile-phone-input-wrapper {
  padding-top: 12px;

  &[data-wrapper-visible='false'] {
    display: none;
  }
  &[data-wrapper-visible='true'] {
    display: block;
  }

}