.media-asset {
  position: relative;
  min-height: 612px;
  height: auto;
  width: 100%;
  padding-bottom: 25px;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-small) {
    padding: 0;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .20);
  }
  
  &__image-container {
    display: none;
    
    @media screen and (min-width: $breakpoint-small) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__image-container-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (min-width: $breakpoint-small) {
      display: none;
    }
  }

  &__video {
    display: none;

    @media screen and (min-width: $breakpoint-small) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 100%;
      width: auto;
      min-height: 100%;
      height: auto;
      z-index: -1;
    }
  }

  &__video-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    width: auto;
    min-height: 100%;
    height: auto;
    z-index: -1;
    
    @media screen and (min-width: $breakpoint-small) {
      display: none;
    }
  }

  &__container {
    display: block;
    width: 100%;
    padding: 38px 12px 20px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $breakpoint-small) {
      padding: 68px 30px 60px;
    }

    .media-asset__button-container {
      .btn {
        display: inline-flex;
        align-items: center;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        padding: 8px 20px;
        margin: 42px auto 20px;
  
        svg {
          top: unset;
        }
  
        @media screen and (min-width: $breakpoint-small) {
          display: inline-flex;
          margin: 48px 0 0;
        }
      }

      text-align: center;
      @media screen and (min-width: $breakpoint-small) {
        text-align: unset;
      }
    }
  }

  &__content {
    display: block;
    width: 100%;

    h1,
    h2,
    h3 {
      display: block;
      width: 100%;
      font-size: _calc-rem(52px);
      line-height: _calc-rem(64px);
      font-weight: 700;
      color: var(--color-white);

      @media screen and (min-width: $breakpoint-small) {
        font-size: _calc-rem(88px);
        line-height: _calc-rem(97px);
      }

      b,
      strong {
        color: var(--color-seed);
      }
    }

    p {
      font-size: _calc-rem(20px);
      line-height: _calc-rem(28px);
      color: var(--color-white);
      display: block;
      width: 100%;
      margin-top: 48px;
      max-width: 500px;

      @media screen and (min-width: $breakpoint-medium) {
        max-width: 600px;
      }
    }
  }

  &__science-of-more-icon {
    position: relative;
    display: block;
    margin: 0 auto 10px;
    width: 120px;
    height: 120px;

    @media screen and (min-width: $breakpoint-small) {
      position: absolute;
      bottom: 60px;
      right: 30px;
    }
  }
}