.nutrient-deficiencies {
  &__tabs {
    display: flex;
    padding: 36px 0;
    gap: 5px;
    flex-wrap: wrap;
  }

  &__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 0;
    flex-basis: 80px;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    
    .tab-icon-container {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 56px;
      height: 56px;
      border: 1px solid var(--color-bountiful);
      margin-bottom: 8px;
      text-align: center;

      svg {
        max-height: 40px;
        max-width: 26px;
      }
    }

    .tab-icon-title {
      span {
        display: block;
      }
    }

    &[aria-selected="true"] {
      .tab-icon-container {
        border: 1px solid var(--color-leaf);

        svg {
          fill: var(--color-leaf);
        }
      }

      span {
        color: var(--color-leaf);
      }
    }
    @media screen and (min-width: $breakpoint-small) {
      margin-top: 0;
    }
  }
  &__tab-panel {
    width: auto;
    display: none;

    &[aria-expanded="true"] {
      display: block;
    }

    li, ul {
      height: 100%;
      width: 100%;
    }
  }

  &__image {
    height: 440px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 566px) {
      background-size: cover;
    }
  }

  &__carousel-controls {
    display: flex;
    justify-content: flex-end;
    padding: 11px 0 11px 0;
    margin-bottom: 30px;

    button {
      width: 48px;
      height: 48px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 8px;
      
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      .icon-arrow-right.icon-start {
        transform: rotate(180deg);
      }
    }

    button + button {
      margin-left: 8px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-small) {
      flex-direction: row;
    }

    h2 {
      font-size: _calc-rem(20px);
      font-family: var(--articulat-font);
      font-weight: bold;
      line-height: 1;
      margin: 0 0 16px 0;

      @media screen and (min-width: $breakpoint-small) {
        font-size: _calc-rem(24px);
        margin: 0 32px 0 0;
      }
    }

    p {
      font-family: var(--inter-font);
      max-width: 550px;
      color: var(--color-inactive-gray);
      font-size: _calc-rem(14px);
      line-height: 1.42;
    }
  }
}