.nutrient-knowledge {
  .uk-grid {
    align-items: center;
  }

  .left-column,
  .right-column {
    display: none;

    @media screen and (min-width: $breakpoint-medium) {
      display: block;
    }
  }

  .uk-slider-container {
    display: block;
    padding: 0 16px;

    @media screen and (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  &__benefit {
    display: block;
    width: 100%;
    padding: 16px 8px;
    background-color: $white-60;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 40px 25px;
      background-color: transparent;

      &:hover {
        background-color: var(--color-white);
      }
    }

    &.nutrient-active {
      background-color: var(--color-white);
    }

    .headline {
      display: block;
      width: 100%;
      font-size: _calc-rem(24px);
      line-height: _calc-rem(26px);
      margin-bottom: 16px;

      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 20px;
      }
    }

    .content {
      display: block;
      width: 100%;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(24px);

      @media screen and (min-width: $breakpoint-medium) {
        line-height: _calc-rem(20px);
      }
    }
  }

  .center-column {
    position: relative;

    img {
      display: block;
      width: auto;
      max-height: 525px;
      margin: 0 auto 62px;

      @media screen and (min-width: $breakpoint-medium) {
        max-height: 760px;
        margin: 0 auto;
      }
    }

    .nutrient-nodes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .nutrient-benefit-node {
        background-color: var(--color-white);
        border-radius: 50px;
        border: 4px solid var(--color-hearty);
        height: 14px;
        width: 14px;
        position: absolute;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        &::before {
          background-color: inherit;
          border-radius: inherit;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        &.nutrient-active {
          &::before {
            animation: pulse-data 1.5s infinite;
          }
        }
      }

      &.nodes-3 {
        .node-0 {
          left: 49%;
          top: 18%;
          
          @media screen and (min-width: $breakpoint-medium) {
            top: 20%;
            left: 45%;
          }
        }

        .node-1 {
          left: 55%;
          top: 40%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 45%;
            left: 65%;
          }
        }

        .node-2 {
          top: 76%;
          left: 50%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 85%;
          }
        }
      }

      &.nodes-4 {        
        .node-0 {
          top: 5%;
          left: 49%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 45%;
          }
        }

        .node-1 {
          left: 52%;
          top: 26%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 30%;
            left: 55%;
          }
        }

        .node-2 {
          left: 45%;
          top: 54%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 60%;
            left: 35%;
          }
        }

        .node-3 {
          left: 49%;
          top: 71%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 80%;
            left: 45%;
          }
        }
      }

      &.nodes-5 {
        .node-0 {
          left: 50%;
          top: 5%;
        }

        .node-1 {
          top: 13%;
          left: 57%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 70%;
            top: 14%;
          }
        }

        .node-2 {
          left: 51%;
          top: 46%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 53%;
            left: 50%;
          }
        }

        .node-3 {
          left: 44%;
          top: 73%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 30%;
            top: 82%;
          }
        }

        .node-4 {
          left: 52%;
          top: 82%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 92%;
            left: 55%;
          }
        }
      }

      &.nodes-6 {
        .node-0 {
          top: 5%;
          left: 50%;
        }

        .node-1 {
          left: 54%;
          top: 12%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 62%;
            top: 14%;
          }
        }

        .node-2 {
          left: 51%;
          top: 28%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 32%;
          }
        }

        .node-3 {
          left: 56%;
          top: 50%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 67%;
            top: 56%;
          }
        }

        .node-4 {
          left: 49%;
          top: 70%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 48%;
            top: 79%;
          }
        }

        .node-5 {
          left: 50%;
          top: 82%;

          @media screen and (min-width: $breakpoint-medium) {
            top: 92%;
          }
        }
      }

      &.nodes-7 {
        .node-0 {
          top: 5%;
          left: 49%;
        }

        .node-1 {
          top: 11%;
          left: 53%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 60%;
            top: 13%;
          }
        }

        .node-2 {
          left: 49%;
          top: 30%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 48%;
            top: 33%;
          }
        }

        .node-3 {
          left: 54%;
          top: 39%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 61%;
            top: 43%;
          }
        }

        .node-4 {
          left: 46%;
          top: 71%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 35%;
            top: 80%;
          }
        }

        .node-5 {
          left: 53%;
          top: 77%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 58%;
            top: 86%;
          }
        }

        .node-6 {
          top: 84%;
          left: 50%;

          @media screen and (min-width: $breakpoint-medium) {
            left: 48%;
            top: 96%;
          }
        }
      }
    }
  }

  .uk-dotnav {
    margin-bottom: 8px;

    >* {
      >* {
        background: var(--color-inactive-gray);
        border-color: var(--color-inactive-gray);
        width: 7px;
        height: 7px;
      }
    }

    .uk-active {
      >* {
        background: var(--color-text);
        border-color: var(--color-text);
      }
    }
  }
}

@keyframes pulse-data{
  to{
    filter:blur(1px);
    opacity:0;
    transform:scale(4)
  }
}