.product-cards__icon-wrap {
  height: 74px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product-cards__icon-wrap img {
  max-height: 74px;
}

.product-panel.product-cards {
    .product-panel_card {
        margin: 28px 0px;
      @media screen and (min-width: $breakpoint-medium) {
        max-width: 70%;
        margin: 38px 0px;
        }
    }

    .product-cards__inner-wrap {
        
        .product-cards__product-image {
          bottom: 0px;
            @media screen and (min-width: $breakpoint-medium) {
                bottom: 0px;
            }
        }
    }

    .product-panel_card h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.3em;
        margin: 16px 0 18px;
        @media screen and (min-width: $breakpoint-medium) {
            line-height: 16px; // Adjust the line height for larger screens
            font-size: 28px;
            margin: 30px 0 18px;
             
        }
    }

    .product-cards__card.product-panel_card .product-cards__inner-wrap {
        border-radius: 0px;
    }

    & .product-cards__product-image {
        right: 0px;
        height: auto;
         display: block;
          width: 100px;
        @media screen and (min-width: $breakpoint-medium) {
          width: 128px;
      }
    }
}
.product-cards {
  padding: 0 20px;

  @media screen and (min-width: $breakpoint-small) {
    padding: 0 30px;
  }
  
  @media screen and (min-width: $breakpoint-medium) {
    padding: 0;
  }
  
  .performance-card {
    opacity: 0;
    max-height: 0;
    transition: max-height .35s ease-in-out, opacity .35s ease-in-out;

    &.hidden {
      display: none;
    }

    &.showing {
      max-height: 2300px;
      opacity: 1;
    }
  }
  
  .product-cards__card {
    margin-bottom: 14px;

    @media screen and (min-width: 400px) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $breakpoint-small) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 40px;
    }
    .product-cards__inner-wrap {
      border-bottom-right-radius: 40px;
      min-height: 100%;
      margin: 0;
      overflow: hidden;
      padding: 34px 12px 46px;
      position: relative;

      @media screen and (min-width: 400px) {
        margin: 0;
      }

      @media screen and (min-width: $breakpoint-small) {
        margin: 0;
        padding: 34px 24px 46px;
      }

      @media screen and (min-width: $breakpoint-medium) {
        margin: 0;
        padding: 28px 34px 77px;
      }

      &.product-cards__inner-wrap--tools {
        padding: 24px 24px 46px;

        .product-cards__button-wrap {
          margin-top: 64px;
          text-align: left;

          @media screen and (min-width: $breakpoint-medium) {
            margin-top: 80px;
          }
        }
      }
    }

    h2 {
      font-size: _rem-calc(32px);
      font-weight: 700;
      line-height: _rem-calc(32px);
      margin: 24px 0 16px;

      @media screen and (min-width: $breakpoint-medium) {
        margin:  0 0 42px;
      }
    }

    h3 {
      font-size: _rem-calc(16px);
      font-weight: 700;
      line-height: _rem-calc(16px);
      margin: 4px 0 18px;
      text-transform: uppercase;

      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 30px;
      }
    }

    .product-cards__nutrient-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;
      width: 100%;

      &.nutrient-badge {
        padding-top: 6px;
      }
    }
    .product-cards__nutrient {
      border: 1px solid var(--color-white);
      border-radius: 5px;
      display: block;
      min-height: 80px;
      margin: 6px;
      padding-top: 29px;
      position: relative;
      min-width: 80px;
      text-align: center;

      .nutrient-symbol {
        color: var(--color-white);
        margin: 0;
        font-family: $articulat-cf;
        font-size: _calc-rem(30px);
        font-weight: 700;
      }

      .nutrient-name {
        bottom: 11px;
        color: var(--color-white);
        font-size: _rem-calc(12px);
        font-weight: bold;
        line-height: _rem-calc(10px);
        margin: 0;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    .product-cards__nutrient-badge {
      align-items: center;
      border: 1px solid var(--color-white);
      display: flex;
      flex-wrap: wrap;
      height: 80px;
      justify-content: center;
      width: 80px;

      .product-cards__enhancer-symbol {
        color: var(--color-white);
        font-size: _rem-calc(20px);
        font-weight: bold;
        line-height: _rem-calc(36px);
        text-align: center;
      }

      .product-cards__enhancer-name {
        color: var(--color-white);
        font-size: _rem-calc(9px);
        line-height: _rem-calc(9px);
        max-width: 60px;
        text-align: center;
      }

      &.round {
        border-radius: 50%;
      }

      &.square {
        border-radius: 14px;
      }
    }

    .product-cards__paragraph {
      font-size: _rem-calc(20px);
      line-height: _rem-calc(24px);
    }

    &.product-cards__card--dark-text {
      h2,
      h3,
      p,
      a {
        color: var(--color-text);
      }

      svg {
        fill: var(--color-text);
      }

      .product-cards__nutrient {
        border-color: var(--color-text);
      }

      .nutrient-symbol,
      .nutrient-name {
        color: var(--color-text);
      }
    }

    &.product-cards__card--light-text {
      h2,
      h3,
      p,
      a {
        color: var(--color-white);
        border-color: var(--color-white);
      }

      svg {
        fill: var(--color-white);
      }

      .product-cards__nutrient {
        border-color: var(--color-white);
      }

      .nutrient-symbol,
      .nutrient-name {
        color: var(--color-white);
      }
    }

  }

  .product-cards__button-wrap {
    margin-top: 57px;
    text-align: center;

    @media screen and (min-width: $breakpoint-medium) {
      margin-top: 0;
      height: 64px;
      text-align: left; 
    }

    .btn {
      border-width: 1px;
      font-size: _rem-calc(16px);
      line-height: _rem-calc(24px);
      padding: 6px 14px;

      @media screen and (min-width: $breakpoint-medium) {
        position: absolute;
        bottom: 77px;
      }
    }
  }

  .product-cards__product-image {
    bottom: -16px;
    display: none;
    height: 128px;
    position: absolute;
    right: -16px;
    width: 128px;

    @media screen and (min-width: $breakpoint-medium) {
      display: block;
    }
  }
}

.product-cards {
  .product-cards__card--dark-text {
    .product-cards__nutrient-badge {
      border-color: var(--color-text);
      .product-cards__enhancer-symbol {
        color: var(--color-text);
      }

      .product-cards__enhancer-name {
        color: var(--color-text);
      }

    }
  }

  .product-cards__nutrient {
    border: 1px solid var(--color-text);

    .nutrient-symbol {
      color: var(--color-text);
    }

    .nutrient-name {
      color: var(--color-text);
    }
  }
}

