.slider {
    &__container {
        padding: 0 20px;
    }

    .slider__item {
        &-image {
            height: 100%;

            &-container {
                border-radius: 0 0 40px 0;
                height: 100%;
                min-height: 324px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &-description {
            display: block;
            width: 100%;
            font-size: _calc-rem(16px);
            line-height: _calc-rem(24px);
            margin-top: 10px;

            @media screen and (min-width: $breakpoint-medium) {
                font-size: _calc-rem(20px);
            }
        }

        &-video {
            height: 100%;

            &--image-holder {
                border-radius: 0 0 40px 0;
                height: 100%;
                min-height: 324px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            &--button-wrapper {
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                top: 0;
                width: 93%;
                height: 324px;
            }

            &--play-btn {
                align-items: center;
                background: var(--color-white);
                border-radius: 50%;
                color: var(--color-black);
                display: flex;
                height: 80px;
                justify-content: center;
                width: 80px;

                svg {
                    height: 30px;
                    margin-left: 4px;
                    width: 24px;
                }
            }
        }
    }

    .uk-dotnav {
        margin-top: 20px;
        justify-content: center;
    }

    .mc-modal__content {
        height: 470px;
        position: relative;
    }

    .mc-modal__close-button {
        background-color: var(--color-white);
        color: var(--color-black);
        z-index: 1;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: _calc-rem(27px);
    }

    .slider-button-navigation-mobile {
        button {
            margin: 0;
            top: calc(44% - var(--uk-position-margin-offset));
        }
    }
}