.split-banner {
  transition: opacity .3s ease-in-out;

  &.unshow {
    opacity: 0;
  }

  &.hide {
    display: none;
  }

  &__large-banner {
    .split-banner__image {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 33px;
      }

      @media screen and (min-width: $breakpoint-large) {
        padding-left: 46px;
      }

      .image-background {
        min-height: 385px;

        @media screen and (min-width: $breakpoint-medium) {
          min-height: 640px;
          position: relative;
        }
      }

      &.image-left {
        .image-background {
          @media screen and (min-width: $breakpoint-medium) {
            margin-left: 7px;
          }

          @media screen and (min-width: $breakpoint-large) {
            margin-left: 21px;
          }
        }
      }
    }

    .split-banner__content {
      &-container {
        h2 {
          font-size: _calc-rem(40px);
          line-height: _calc-rem(48px);
          margin-bottom: 40px;
        }

        p {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(26px);

          a {
            font-size: _calc-rem(20px);
            line-height: _calc-rem(26px);
          }
        }
      }
    }
  }

  .uk-grid {
    &.image-right {
      margin-left: 0;
    }
  }

  .image-right {
    &.split-banner__image {
      order: 1;
      padding-left: 0;

      @media screen and (min-width: $breakpoint-medium) {
        order: 2;
        padding-left: 13px;
      }

      .image-background {
        border-radius: 8px 8px 0px 0px;

        @media screen and (min-width: $breakpoint-medium) {
          border-radius: 0 25px 25px 0;
          margin-right: 0;
        }
      }
    }

    &.split-banner__content {
      order: 2;
      padding-left: 0;

      @media screen and (min-width: $breakpoint-medium) {
        order: 1;
        padding-left: 0;
        padding-right: 13px;
      }

      .split-banner__color-block {
        @media screen and (min-width: $breakpoint-medium) {
          border-radius: 25px 0 0 25px;
        }
      }
    }
  }

  .image-background {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;

    @media screen and (min-width: $breakpoint-medium) {
      border-radius: 25px 0px 0px 25px;
      margin-right: -20px;
      min-height: 324px;
    }
  }

  &__color-block {
    position: relative;
    padding: 38px 12px;
    margin-top: 14px;
    height: 100%;

    @media screen and (min-width: $breakpoint-medium) {
      padding: 40px;
      border-radius: 0 25px 25px 0;
      margin-top: 0;
    }

    .uk-position-center {
      position: relative !important;

      @media screen and (min-width: $breakpoint-medium) {
        position: absolute;
      }
    }
  }

  &__content {
    position: relative;

    @media screen and (min-width: $breakpoint-medium) {
      padding-left: 32px;
    }

    @media screen and (min-width: $breakpoint-large) {
      padding-left: 47px;
    }

    &-container {
      h2 {
        font-weight: 700;
        display: block;
        width: 100%;
        font-size: _calc-rem(32px);
        line-height: _calc-rem(40px);
        margin-bottom: 28px;
      }

      h3 {
        display: block;
        width: 100%;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(24px);
        margin-bottom: 14px;
      }

      p {
        display: block;
        width: 100%;
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(32px);
        }

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;

          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(24px);
            line-height: _calc-rem(32px);
          }
        }
      }

      .btn {
        display: block;
        margin: 40px auto;
        font-size: _calc-rem(16px);
        line-height: _calc-rem(19px);
        padding: 8px 20px;
        width: fit-content;
        text-align: center;

        @media screen and (min-width: $breakpoint-medium) {
          display: inline-block;
          margin: 40px 16px 0 0;
        }

        &.btn--tertiary {
          border-color: var(--color-seed);
          color: var(--color-text);
        }

        &.btn--orange {
          background-color: var(--color-orange);
          color: var(--color-text);
        }

        &.btn--blue {
          background-color: var(--color-blue);
        }

        svg {
          display: inline-block;
          width: _calc-rem(16px);
          height: _calc-rem(16px);
          vertical-align: middle;
          fill: var(--btn-text);
          top: 0;
        }
      }

      &.font-color-white {
        h3,
        h2,
        p,
        a,
        button {
          color: var(--color-white);
        }
      }
    }
  }

  &__short-media-banner {
    .image-left {
      .split-banner__image {
        order: 2;

        @media screen and (min-width: $breakpoint-medium) {
          order: 1;
        }

        &.image-left {
          @media screen and (min-width: $breakpoint-medium) {
            padding-left: 33px;
          }

          @media screen and (min-width: $breakpoint-large) {
            padding-left: 50px;
          }

          .image-background {
            @media screen and (min-width: $breakpoint-medium) {
              margin-left: 7px;
            }

            @media screen and (min-width: $breakpoint-large) {
              margin-left: 22px;
            }
          }
        }
      }

      .split-banner__content {
        order: 1;

        @media screen and (min-width: $breakpoint-medium) {
          order: 2;
        }
      }
    }

    .image-right {
      .split-banner__image {
        order: 2;

        @media screen and (min-width: $breakpoint-medium) {
          order: 2;
        }

        .image-background {
          border-radius: 0 0 40px 0;
        }
      }

      .split-banner__content {
        order: 1;

        @media screen and (min-width: $breakpoint-medium) {
          order: 1;
        }

        .split-banner__color-block {
          border-radius: 0;
        }

        .split-banner__no-border-radius {
          border-radius: 0;
        }
      }
    }

    .image-background {
      min-height: 324px;
      border-radius: 0 0 40px 0;
      margin-top: 15px;

      @media screen and (min-width: $breakpoint-medium) {
        border-radius: 0 0 0 40px;
        margin-top: 0;
      }
    }

    .split-banner__color-block {
      border-radius: 0;
      margin: 0 0 14px 0;

      @media screen and (min-width: $breakpoint-medium) {
        margin: 0;
      }
    }

    .split-banner__content-container {
      h2 {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(38px);
        margin-bottom: 28px;

        @media screen and (min-width: $breakpoint-medium) {
          line-height: _calc-rem(40px);
        }
      }

      p {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(32px);
        }

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;

          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(24px);
            line-height: _calc-rem(32px);
          }
        }
      }
    }
  }

  &__short-content-banner {
    .split-banner__content {
      border-radius: 0;
      padding-left: 40px;

      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 30px;
      }

      @media screen and (min-width: $breakpoint-large) {
        padding-left: 50px;
      }

      h2 {
        font-size: _calc-rem(32px);
        line-height: _calc-rem(38px);
        margin-bottom: 28px;

        @media screen and (min-width: $breakpoint-medium) {
          line-height: _calc-rem(40px);
        }
      }

      p {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(24px);

        @media screen and (min-width: $breakpoint-medium) {
          font-size: _calc-rem(24px);
          line-height: _calc-rem(32px);
        }

        a {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          text-decoration: underline;

          @media screen and (min-width: $breakpoint-medium) {
            font-size: _calc-rem(24px);
            line-height: _calc-rem(32px);
          }
        }
      }

      .split-banner__color-block {
        position: relative;

        @media screen and (min-width: $breakpoint-medium) {
          margin-left: 7px;
        }

        @media screen and (min-width: $breakpoint-large) {
          margin-left: 21px;
        }
      }

      &.image-right {
        .split-banner__color-block {
          border-radius: 0;
        }
      }

      &.image-left {
        .split-banner__color-block {
          border-radius: 0;
        }
      }

      &.second-content-block {
        order: 2;
        padding-left: 40px;
        margin-top: 15px;

        @media screen and (min-width: $breakpoint-medium) {
          padding-left: 33px;
          margin-top: 0;
        }

        @media screen and (min-width: $breakpoint-large) {
          padding-left: 47px;
        }

        .split-banner__color-block {
          border-radius: 0px 0px 40px 0px;
          margin-left: 0;
        }
      }
    }
  }

  &__short-content-split-banner {
    .split-banner-container {
      display: block;
      flex-wrap: nowrap;
      border: 2px solid var(--color-text);

      @media screen and (min-width: $breakpoint-medium) {
        display: flex;
      }

      &.left-container {
        @media screen and (min-width: $breakpoint-medium) {
          margin-right: -18px;
        }

        @media screen and (min-width: $breakpoint-large) {
          margin-right: -7px;
        }
      }

      &.right-container {
        border-radius: 0px 0px 25px 0px;
        margin-top: 16px;

        @media screen and (min-width: $breakpoint-medium) {
          margin-top: 0;
        }
      }

      .split-banner-image {
        display: inline-block;
        width: 100%;
        min-height: 130px;
        height: auto;

        @media screen and (min-width: $breakpoint-medium) {
          width: 40%;
          min-height: 322px;
        }
      }

      .split-banner-content {
        display: inline-block;
        width: 100%;
        padding: 20px;
        height: auto;

        @media screen and (min-width: $breakpoint-medium) {
          width: 60%;
          padding: 30px;
        }

        .block-content {
          display: block;
          width: 100%;
          min-height: 75%;
          margin-bottom: 20px;
        }

        .logo-image {
          display: block;
          width: auto;
          max-height: 60px;
          margin-bottom: 36px;
        }

        p {
          display: block;
          margin-bottom: 8px;
          font-size: _calc-rem(24px);
          line-height: _calc-rem(28px);
        }

        .btn {
          display: block;
          font-size: _calc-rem(16px);
          line-height: _calc-rem(19px);
          margin: 28px auto;
          padding: 8px 20px;
          width: fit-content;
          text-align: center;

          @media screen and (min-width: $breakpoint-medium) {
            float: right;
            margin: 0;
          }
        }
      }
    }

    .right-split-content {
      @media screen and (min-width: $breakpoint-medium) {
        padding-left: 32px;
      }

      @media screen and (min-width: $breakpoint-large) {
        padding-left: 46px;
      }
    }
  }

  &__short-location-banner {
    .image-right {
      &.split-banner__content {
        order: 1;

        @media screen and (min-width: $breakpoint-medium) {
          order: 1;
        }

        .split-banner__color-block {
          border-radius: 0;
          margin-bottom: 15px;
          margin-top: 0;

          @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 0;
          }
        }
      }

      &.split-banner__image  {
        order: 2;

        @media screen and (min-width: $breakpoint-medium) {
          order: 2;
        }

        .image-background {
          border-radius: 0 0 40px 0;
          min-height: 324px;
          margin-top: 15px;

          @media screen and (min-width: $breakpoint-medium) {
            margin-top: 0;
          }
        }
      }
    }

    .image-left {
      &.split-banner__content {
        order: 1;

        @media screen and (min-width: $breakpoint-medium) {
          order: 2;
          padding-left: 32px;
        }

        @media screen and (min-width: $breakpoint-large) {
          padding-left: 47px;
        }

        .split-banner__color-block {
          border-radius: 0;
          margin-bottom: 15px;
          margin-top: 0;

          @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 0;
          }
        }
      }

      &.split-banner__image  {
        order: 2;

        @media screen and (min-width: $breakpoint-medium) {
          padding-left: 32px;
        }

        @media screen and (min-width: $breakpoint-large) {
          order: 1;
          padding-left: 49px;
        }

        .image-background {
          border-radius: 0 0 0 40px;
          min-height: 324px;
          position: relative;
          margin-left: 0;
          margin-top: 15px;

          @media screen and (min-width: $breakpoint-medium) {
            margin-left: 7px;
            margin-top: 0;
          }

          @media screen and (min-width: $breakpoint-large) {
            margin-left: 21px;
          }
        }
      }
    }

    .get-location-container {
      display: block;
      width: 100%;
      margin-top: 25px;

      .location-postal-code {
        background: var(--color-white);
        border: 1px solid var(--color-black);
        border-radius: 5px;
        padding: 15px 9px 15px 15px;
        font-size: _calc-rem(12px);
        color: var( --color-inactive-gray);
        width: 184px;
        margin-right: 12px;
        display: inline-block;
        vertical-align: middle;
        font-family: var(--inter-font);
      }

      .btn {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        cursor: pointer;
      }

      .use-location {
        display: block;
        width: 100%;
        margin-top: 15px;

        .get-location-btn {
          display: inline-block;
          vertical-align: middle;
          font-size: _calc-rem(16px);
          line-height: _calc-rem(20px);
          border: 0;
          background-color: transparent;
          font-family: var(--inter-font);
          cursor: pointer;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 25px;
          margin-right: 6px;

          &.icon-color-white {
            fill: var(--color-white);
          }

          &.icon-color-black {
            fill: var(--color-text);
          }

          &.icon-color-green {
            fill: var(--color-seed);
          }
        }
      }
    }
  }

  &__video-banner {

    .video-background {
      min-height: 324px;
      border-radius: 0 0 40px 0;
      height: 100%;
    }

    .image-right {
      .split-banner__video {
        order: 2;
        padding-left: 13px;
      }
    }

    .image-left {
      .split-banner__video {
        order: 1;
        padding: 0;
        padding-left: 25px;
      }

      .split-banner__content-container {
        p {
          font-size: _calc-rem(20px);
          line-height: _calc-rem(24px);
          font-weight: 400;
          font-family: var(--inter-font);
        }
      }
    }


    .video-button-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .video-banner__play-btn {
        align-items: center;
        background: transparent;
        border: none;
        color: var(--color-white);
        display: flex;
        justify-content: center;

        svg {
          height: 40px;
          margin-left: 4px;
          width: 40px;

          @media screen and (min-width: $breakpoint-small) {
            height: 40px;
            margin-left: 4px;
            width: 40px;
          }
        }
      }
    }
  }

  &__modal-iframe-wrapper {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  &__no-border-radius {
    border-radius: 0 !important;
  }

  .mc-modal {
    &__foreground {
      padding: 20px;
    }

    &__close-button {
      align-items: center;
      background: $white;
      color: $text-primary;
      display: flex;
      font-size: _calc-rem(30px);
      height: 20px;
      justify-content: center;
      line-height: _calc-rem(25px);
      margin: 0;
      padding: 0;
      width: 22px;
    }
  }
}
