.video {
  position: relative;

  &__container {
    position: relative;
  }
  
  &__content {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 0 0 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $breakpoint-small) {
      height: 500px;
      border-radius: 0 0 60px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      height: 700px;
      border-radius: 0 0 60px;
    }

    &.video-play {
      background-image: none !important;
    }
  }

  .play-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;

    @media screen and (min-width: $breakpoint-medium) {
      width: 80px;
      height: 80px;
    }

    svg {
      height: _calc-rem(20px);
      width: _calc-rem(18px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      
      @media screen and (min-width: $breakpoint-medium) {
        height: _calc-rem(30px);
        width: _calc-rem(24px);
      }
    }
  }
}