.page-template-resource-library {
  margin: 0;
  color: var(--color-text);
  font-family: $inter;
  font-size: _calc-rem(16px);

  .header__logo img {
    display: block;
    max-width: 70px;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .page-bg {
    position: relative;
  }

  .gradiant-green {
    background: $audio-card-gradient;
  }

  .rl-top-section {
    &__heading-wrapper {
      max-width: 100%;
      @media screen and (min-width: $breakpoint-small) {
        max-width: 70%;
      }
    }
    .rl-page-desc {
      padding-bottom: 24px;
      border-bottom: 1px solid $inactive-gray;
    }
    #filter-search-container {
      .search-close-icon-wrapper {
        position: absolute;
        top: 15px;
        right: 5px;
        display: none;

        &.show {
          display: inline-block;
        }

        svg {
          width: _calc-rem(20px);
          height: _calc-rem(20px);
        }
      }

      .search-icon-wrapper {
        position: absolute;
        top: 15px;
        right: 5px;

        svg {
          width: _calc-rem(20px);
          height: _calc-rem(20px);
        }
      }

      label {
        display: block;
      }

      select {
        width: 100%;
        background-color: $nutrient-light;
        padding: 0.625em 0.4375em;
        border: 1px solid $alto;
      }

      .apply-wrapper {
        display: inline-block !important;
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        background: $seed;

        input {
          background: $good-earth-black;
          color: $white;
          font-size: _calc-rem(16px);
          font-weight: 400;
          padding: 5px 15px 8px;
          line-height: 1;
          float: right;
          border-radius: 102px;
          cursor: pointer;
          border: none;
        }

        input:hover {
          text-decoration: none;
        }
      }

      .apply-selection .ajax-link {
        display: none;
      }

      .dropdown-wrapper {
        overflow: hidden;
        margin: 0;
        border-top: 0;
        position: absolute;
        z-index: 9;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000029;
      }

      .dropdown-wrapper .options-wrapper {
        padding: 15px 10px;
        max-height: 400px;
        overflow: auto;
        background: $white;
        margin-top: -7px;
      }

      .select-menu-container {
        display: flex;
        justify-content: space-between;
        padding-right: 75px;
      }

      .select-col {
        position: relative;
      }

      .form-control:focus {
        border-color: $black;
        box-shadow: none;
      }

      .form-control {
        height: auto;
        padding: 10px 15px;
        color: $black;
      }

      .dropdown-label {
        .icon {
          transform: scaleY(1);
        }
        &.open {
          .icon {
            transform: scaleY(-1);
          }
        }
      }

      .inner-wrap {
        label {
          margin-top: 10px;
          margin-bottom: 10px;
          color: $good-earth-black;
          font-weight: 400;
          font-size: _calc-rem(16px);
          width: 100%;

          input {
            float: right;
          }
        }
      }

      .search-box {
        max-width: 100%;
        @media screen and (min-width: $breakpoint-small) {
          max-width: 70%;
        }

        .search-input {
          margin-top: 80px;
          margin-bottom: 80px;
          position: relative;

          input[type="submit"] {
            position: absolute;
            right: 0;
            border: none;
            top: 10px;
            width: 25px;
            height: 25px;
            cursor: pointer;
            position: absolute;
            top: 0;
            background: transparent;
            z-index: 99;
          }

          .close-icon {
            position: absolute;
            right: 0;
            border: none;
            width: _calc-rem(25px);
            height: _calc-rem(25px);
            cursor: pointer;
          }

          .val-error {
            color: $kmag-red;
          }
        }

        .search-bar {
          border: 0;
          border-bottom: 1px solid $inactive-gray;
          width: 100%;
          background: transparent;
          padding: 10px 0;
          color: $black;
          font-size: _calc-rem(20px);
          font-weight: 400;
        }
      }

      .filters-wrapper {
        .select-menu {
          margin: 25px 0;
          float: left;
          width: 100%;
        }
      }
    }
  }

  // Common style for all boxes / cards

  .boxes-wrap {
    &__articles-box-wrap,
    &__trending-topic-box-wrap,
    &__agrifacts-box-wrap,
    &__agrisight-box-wrap,
    &__video-box-wrap,
    &__listen-now-box-wrap,
    &__documents-labels-box-wrap,
    &__success-story-box-wrap,
    &__calculator-box-wrap,
    &__trures-trial-data-box-wrap,
    &__trures-insights-box-wrap {
      grid-template-columns: repeat(1, 1fr);

      @media screen and (min-width: $breakpoint-small) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: $breakpoint-medium) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__boxes-inner-wrap__box2 {
      padding: 55px;
      margin-bottom: 25px;
    }

    &__boxes-inner-wrap__topic {
      font-size: _calc-rem(14px);
      font-weight: 400;
      color: $black;
      margin: 0 0 7px;
      width: 100%;
    }

    &__boxes-inner-wrap__topic-hd {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(32px);
      font-weight: 400;
      color: $black;
      margin: 0 0 24px;
      width: 100%;
    }

    &__boxes-inner-wrap__topic-desc {
      font-size: _calc-rem(16px);
      line-height: _calc-rem(20px);
      font-weight: 400;
      color: $black;
      margin: 0 0 28px;
      width: 100%;
    }
  }

  // Featured section
  .boxes-wrap {
    &__boxes-inner-wrap {
      display: grid;
      flex-wrap: wrap;
      gap: _calc-rem(24px);
      margin: 0;

      &.featured-section {
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: $breakpoint-small) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .boxes-wrap__boxes-inner-wrap {
    &__box1 {
      border: 2px solid var(--color-black);
      border-radius: 0px 0px 25px 0px;
      padding: 15px;
      align-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: left;
      display: -webkit-flex;
      min-height: 245px;
    }

    &__boxes-inner-wrap__go-btn {
      a {
        color: $good-earth-black;
        text-decoration: none;
        padding-right: 22px;
        font-size: _calc-rem(16px);
        font-weight: 500;
        display: flex;
        align-items: center;

        .icon-arrow-right {
          width: _calc-rem(20px);
          height: _calc-rem(20px);
        }
      }
    }
  }

  // Agrisights Box Block
  .agrisight-box {
    background: $wild-sand;
    flex-direction: column;

    .boxes-wrap__boxes-inner-wrap__topic {
      margin-bottom: 15px;
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(28px);
    }
  }

  // TruResponse Insights Box Block
  .trures-insights-box {
    background: $wild-sand;
    flex-direction: column;

    .boxes-wrap__boxes-inner-wrap__topic.icon-wrapper {
      display: block;
      margin-bottom: 0;

      @media screen and (min-width: $breakpoint-large) {
        margin-bottom: 28px;
      }

      svg {
        width: _calc-rem(100px);
        height: _calc-rem(28px);
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic {
      margin-bottom: 15px;
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(28px);
    }
  }

  // Agrifacts Box Block
  .agrifacts-box,
  .trures-trial-data-box {
    padding: 20px;
    border-radius: 0px;
    padding: 30px;
    height: 100%;
    min-height: 265px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    a.fill-div {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      position: absolute;
      left: 0;
      top: 0;
    }

    .af-info-wrapper {
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__data-info__logo {
      display: flex;

      .icon {
        max-width: 85px;
        max-height: 26px;
      }

      @media screen and (max-width: $breakpoint-small) {
        .boxes-wrap__boxes-inner-wrap__data-info__logo .icon {
          width: _calc-rem(85px);
        }
      }
    }
    .icon {
      max-width: 85px;
      max-height: 26px;
    }
    @media screen and (max-width: $breakpoint-small) {
      .boxes-wrap__boxes-inner-wrap__data-info__logo .icon {
        width: _calc-rem(85px);
      }
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        margin: 0 0 25px;
        min-height: unset;
        font-size: _calc-rem(24px);
        font-weight: 400;
        line-height: _calc-rem(26px);
      }

      .boxes-wrap__boxes-inner-wrap__topic-desc {
        font-size: _calc-rem(12px);
        font-weight: 400;
        line-height: _calc-rem(16px);
        margin: 0 0 50px;
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd-wrap1 {
      display: flex;
      width: 100%;
      gap: 10px;

      .boxes-wrap__boxes-inner-wrap__topic-hd {
        min-height: unset;
        margin-bottom: 15px;
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd-wrap3 {
      display: flex;
      width: 100%;
      gap: 10px;

      .boxes-wrap__boxes-inner-wrap__topic-hd {
        min-height: unset;
        margin-bottom: 15px;
      }

      .trures-space {
        width: _calc-rem(45px);
        height: _calc-rem(45px);
      }

      .boxes-wrap__boxes-inner-wrap__topic-code {
        display: block;
        margin-bottom: 14px;

        .unit {
          display: inline-block;
          vertical-align: bottom;
          font-size: _calc-rem(60px);
          line-height: _calc-rem(53px);
          color: var(--color-bioscience-green);
          font-weight: 700;
          font-family: var(--articulat-font);
        }

        .text {
          display: inline-block;
          vertical-align: bottom;
          font-size: _calc-rem(24px);
          line-height: _calc-rem(29px);
          color: var(--color-bioscience-green);
          font-weight: 700;
          font-family: var(--articulat-font);
        }
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-l {
      width: 87%;
    }

    .boxes-wrap__boxes-inner-wrap__topic-r {
      text-align: right;
      width: 13%;

      img {
        display: inline-block;
      }
    }

    .boxes-wrap__boxes-inner-wrap__product-info {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;
      margin: 10px 0 30px;
      align-items: baseline;
      .icon {
        width: _calc-rem(40px);
        height: _calc-rem(30px);
      }
    }

    .boxes-wrap__boxes-inner-wrap__product-info__points {
      font-family: var(--articulat-font);
      font-size: _calc-rem(70px);
      font-weight: 700;
      letter-spacing: 0em;
      line-height: 0.75em;
      @media screen and (min-width: $breakpoint-small) {
        font-size: _calc-rem(40px);
      }
    }

    .boxes-wrap__boxes-inner-wrap__product-info__bu-ac {
      font-size: _calc-rem(24px);
      font-weight: 700;
      line-height: _calc-rem(29.4px);
    }

    .boxes-wrap__boxes-inner-wrap__data-info {
      align-items: flex-start;
      display: flex;
      gap: 4px;
      justify-content: space-between;
      margin: 16px 0 0;
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__data-info__data-yrs {
      font-size: _calc-rem(14px);
      font-weight: 500;
      line-height: _calc-rem(29px);
    }
  }

  // TruResponse Trial Data
  .trures-trial-data-box {
    border: 3px solid var(--color-bioscience-green);
    padding: 16px 18px;

    &.box-prb9 {
      border: 3px solid var(--color-biostimulant);
      .boxes-wrap__boxes-inner-wrap__topic-hd-wrap3 {
        .boxes-wrap__boxes-inner-wrap__topic-code {
          .unit {
            color: var(--color-biostimulant);
          }
        }
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd-wrap2 {
      display: block;
      margin-bottom: 20px;

      .icon-align-right {
        text-align: right;

        svg {
          height: 30px;
          width: 90px;

          @media screen and (min-width: $breakpoint-large) {
          }
        }
      }

      .icon-trial-data-small {
        height: 30px;
        width: 90px;

        @media screen and (min-width: $breakpoint-large) {
        }
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd-wrap1 {
      .boxes-wrap__boxes-inner-wrap__topic-l {
        .boxes-wrap__boxes-inner-wrap__topic-desc {
          margin: 13px 0 0 0;
        }
      }
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd-wrap3 {
      .boxes-wrap__boxes-inner-wrap__topic-l {
        .boxes-wrap__boxes-inner-wrap__topic-desc {
          margin: 0;
        }
      }
    }
  }

  // Video Box Block
  .video-box,
  .boxes-wrap__video-box-wrap {
    .boxes-wrap__video-box-wrap__video-hd {
      position: relative;
      z-index: 1;
      padding: 0 0 0 80px;
      margin-bottom: 40px;
      margin-top: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .boxes-wrap__video-box-wrap__video-box {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        min-height: unset;
        margin: 0;
      }
    }

    .boxes-wrap__video-box-wrap__video-box2 {
      position: relative;
    }

    .boxes-wrap__video-box-wrap__play-btn1 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 62px !important;
      right: 0;
      margin: 0 auto;
    }
  }

  // Audion Box Block

  .boxes-wrap__listen-now-box-wrap.featured-section {
    .audio-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .featured-image {
      position: relative;
    }
  }

  .listen-now-box {
    .boxes-wrap__boxes-inner-wrap__topic {
      color: $black;
    }
  }

  // Documents Box Block

  .boxes-wrap__boxes-inner-wrap__documents-labels-box {
    background: $wild-sand;
  }

  .boxes-wrap__documents-labels-box-wrap,
  .boxes-wrap__boxes-inner-wrap__documents-labels-box {
    padding: 0;
    flex-direction: column;

    .boxes-wrap__boxes-inner-wrap__topic {
      background: $white;
      color: $black;
      font-size: _calc-rem(16px);
      padding: 16px;
      max-height: 55px;
    }

    .boxes-wrap__boxes-inner-wrap__documents-logo {
      width: 100%;
      margin-bottom: 15px;
      .icon {
        max-width: 85px;
        max-height: 26px;
      }
    }

    .padding-wrap {
      padding: 15px;
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__topic {
      text-transform: uppercase;
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd {
      min-height: 75px;
    }

    .boxes-wrap__boxes-inner-wrap__topic-desc {
      min-height: 100px;
    }
  }

  // Success Story Box Block
  .boxes-wrap__boxes-inner-wrap__success-story-box {
    border-radius: 0px 0px 25px 0px;
    background: linear-gradient(
      157deg,
      #496c09 50.76%,
      #b5c927 99.99%,
      #b5c927 100%
    );
  }

  // featured sections
  .boxes-wrap__trending-topic-box-wrap {
    .trending-topic-box1 {
      img {
        border-radius: 25px 0 0 25px;
      }
    }
  }

  // Calculator Box
  .calculator-box {
    border-color: transparent;
    border-radius: 0 0 25px 0;
    color: var(--color-text);
    margin-bottom: 14px;
    padding: 20px 19px;
    text-align: center;

    @media screen and (min-width: $breakpoint-medium) {
      text-align: left;
    }

    &.nutrient {
      background: var(--color-seed);
    }

    &.bio-calculator {
      background: var(--color-calc-blue);

      p,
      a,
      h2 {
        color: var(--color-white);
      }
    }

    &.microessentials {
      background: var(--color-microessentials-yellow);
    }

    &.aspire {
      background: var(--color-aspire-green);
    }

    &.retail-value {
      background: var(--color-microessentials-yellow);
    }

    h2 {
      font-family: var(--inter-font);
      line-height: 30px;
      margin-bottom: 5px;
      text-align: left;

      @media screen and (min-width: $breakpoint-medium) {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
      }
    }

    .column-wrapper {
      margin-left: 0;
    }

    .calculator-btn {
      font-size: __rem-calc(16px);
      font-weight: 500;

      svg {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        position: relative;
        top: 5px;
      }
    }

    .left-side {
      margin-bottom: 26px;
      position: relative;

      p {
        font-size: __rem-calc(16px);
      }

      @media screen and (min-width: $breakpoint-medium) {
        margin-bottom: 0;

        &.nutrient-calculator {
          width: 54%;

          .bento-btn {
            margin-top: 63px;
          }
        }
      }

      .paragraph {
        line-height: 22px;
        max-width: 254px;
        text-align: left;
      }

      .calculator-btn {
        display: none;

        @media screen and (min-width: $breakpoint-medium) {
          bottom: 0;
          display: inline-block;
          position: absolute;
        }
      }
    }

    .right-side {
      &.nutrient-calculator {
        text-align: center;

        @media screen and (min-width: $breakpoint-medium) {
          width: 46%;
        }

        .big-number {
          font-size: 54px;
          font-weight: 900;
          letter-spacing: -4px;
          line-height: 60px;
          position: relative;
          left: -12px;

          @media screen and (min-width: $breakpoint-medium) {
            left: 0;
          }
        }

        .units {
          font-size: _rem-calc(8px);
          left: 53px;
          line-height: _rem-calc(8px);
          margin-bottom: 4px;
          margin-top: -4px;
          position: relative;

          @media screen and (min-width: $breakpoint-medium) {
            left: -20px;
            text-align: right;
          }
        }

        svg {
          display: block;
          height: 40px;
          margin: 0 auto 25px;
          width: 118px;

          @media screen and (min-width: $breakpoint-medium) {
            margin: 0 0 44px auto;
          }
        }
      }
      &.aspire-calculator,
      &.microessentials-calculator,
      &.retail-value-calculator {
        padding-top: 15px;

        .inner-wrapper {
          text-align: center;
        }

        .icon-wrapper {
          align-items: center;
          border: 4px solid var(--color-text);
          border-radius: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0 auto 25px;
          height: 113px;
          width: 113px;
        }

        svg {
          width: 64px;
          height: 34px;
          fill: var(--color-text);
        }

        p {
          color: var(--color-text);
          font-size: _rem-calc(12px);
          font-weight: bold;
          position: relative;
          top: -4px;
        }
      }

      &.retail-value-calculator {
        svg {
          height: 36px;
          width: 80px;
        }

        p {
          line-height: _calc-rem(16px);
        }
      }

      &.microessentials-calculator {
        svg {
          height: 36px;
          width: 80px;
        }
        p {
          margin-top: -9px;
        }
      }
      .calculator-btn {
        @media screen and (min-width: $breakpoint-medium) {
          display: none;
        }

        .icon-arrow-right {
          display: inline-block;
          height: 20px;
          width: 20px;
          margin: 0 0 0 5px;
          position: relative;
          top: 5px;
        }
      }
    }
  }

  // common styling for sections
  .rl-default-content__rl-section,
  #rl-ajax-filter-search-results {
    padding-bottom: _calc-rem(80px);

    .icon-agrifact-trimmed {
      width: _calc-rem(147px);
      height: _calc-rem(48px);
    }

    .icon-agrisight-trimmed {
      width: _calc-rem(165px);
      height: _calc-rem(36px);
    }

    .icon-wrapper {
      .icon-agrisight-trimmed {
        width: _calc-rem(125px);
        height: _calc-rem(28px);
      }
    }

    .heading2 {
      font-family: $inter;
      font-size: _calc-rem(20px);
      font-weight: 700;
      line-height: _calc-rem(24px);
      text-align: left;
      color: $black;
      border-bottom: 1px solid $inactive-gray;
      margin-bottom: 25px;
      padding: 0 0 18px;
      position: relative;
      display: flex;
      align-items: center;
      display: -webkit-flex;
      align-content: center;

      .icon-trures-trial-data,
      .icon-trures-insights {
        height: 100px;
        width: 210px;
      }
    }

    .view-btn {
      position: absolute;
      right: 0;
      font-weight: 500;
      font-size: _calc-rem(16px);
      line-height: _calc-rem(19px);
      display: flex;
      gap: 5px;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $good-earth-black;
        text-decoration: none;
      }
    }
  }

  // trending topic
  &__trending-topic-sec {
    .trending--topic--bg1 {
      background-size: cover;
    }

    .trending--topic--bg2 {
      background-size: cover;
    }

    .trending--topic--bg3 {
      background-size: cover;
    }
  }

  p {
    color: $black;
    font-size: _calc-rem(20px);
    font-weight: 400;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  :focus {
    outline: none;
    border: 0;
  }

  .dark-bg {
    color: $white;
    background: $bountiful;
  }

  .border_rd_2 {
    border-radius: 0px 25px 25px 0px;
  }

  .border_rd_3 {
    border-radius: 25px 0px 0px 25px;
  }

  .w-100 {
    width: 100%;
  }

  .p-0 {
    padding: 0;
  }

  .white--txt {
    color: $white;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .flex-box {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    display: -webkit-flex;
  }

  .m-h1 {
    min-height: 135px;
  }

  .overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay::after {
    content: "";
    background: rgba(22, 30, 16, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    .white--txt {
      position: relative;
      z-index: 1;
    }
  }

  .position-top {
    top: -100px;
  }

  .background-gradient.position-bottom {
    z-index: -35;
  }

  .green-bg {
    background: $leaf;
  }

  .border-0 {
    border: 0;
  }

  .audio-btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .listen-now-box {
    .m-h1 {
      min-height: 70px;
    }
  }

  label {
    cursor: pointer;
  }

  .ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }

  .mrtp-20 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .product-cards__card .product-cards__inner-wrap {
    .pro-card-hd {
      font-size: _calc-rem(32px);
      font-weight: 700;
      line-height: _calc-rem(41.6px);
      margin-top: 10px;
    }
  }

  .pro-card-desc {
    font-size: _calc-rem(20px);
    font-weight: 400;
    line-height: _calc-rem(24px);
  }

  .mrgn-lr {
    margin-left: -12px;
    margin-right: -12px;
  }

  .btm-bor {
    border-bottom: 1px solid $inactive-gray;
  }

  .bor-tp {
    border-top: 1px solid $inactive-gray;
  }

  .bor-rds-8 {
    border-radius: 8px;
  }

  .pd-25 {
    padding: 25px;
  }

  .pd-16 {
    padding: 0 16px;
  }

  .green-bg-light {
    background: $growth;
  }

  .mrb-50 {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .agrifacts-box,
    .trures-trial-data-box {
      padding: 20px;
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      padding: 20px;
    }

    .boxes-wrap__boxes-inner-wrap__product-info__points {
      font-size: _calc-rem(55px);
    }

    .boxes-wrap__boxes-inner-wrap__product-info__bu-ac {
      font-size: _calc-rem(16px);
    }

    .boxes-wrap__boxes-inner-wrap__product-info__up-arrow {
      img {
        max-width: 18px;
      }
    }

    .boxes-wrap__boxes-inner-wrap__data-info {
      flex-wrap: wrap;
    }

    .boxes-wrap__boxes-inner-wrap__data-info__data-yrs {
      width: 100%;
    }

    .microessentials-logo {
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        font-size: _calc-rem(30px);
        line-height: _calc-rem(35px);
      }
    }

    .w-100 {
      height: 100%;
      object-fit: cover;
    }

    .boxes-wrap__video-box-wrap__video-hd {
      background-size: 40px;
      padding-left: 50px;
    }

    .boxes-wrap__video-box-wrap__video-box {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        font-size: _calc-rem(20px);
        line-height: _calc-rem(23px);
      }
    }

    .documents-labels-box {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        font-size: _calc-rem(23px);
        line-height: _calc-rem(29px);
      }
    }
  }

  @media screen and (max-width: 767px) {
    .search-box {
      max-width: 100%;

      br {
        display: none;
      }
    }

    .boxes-wrap .featured-image {
      padding: 0;
      margin: 0;
    }

    .boxes-wrap .featured-content {
      margin: 0;
    }

    .boxes-wrap .featured-section {
      margin-bottom: _calc-rem(24px);
    }

    .heading {
      font-size: _calc-rem(35px);
    }

    p {
      font-size: _calc-rem(16px);
    }

    .boxes-wrap__boxes-inner-wrap {
      flex-wrap: wrap;
    }

    .boxes-wrap__boxes-inner-wrap__box1 {
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__topic-hd {
      font-size: _calc-rem(24px);
      line-height: _calc-rem(27px);
      min-height: unset;
      margin-bottom: 15px;
    }

    .boxes-wrap__boxes-inner-wrap__topic-desc {
      min-height: unset;
      margin-bottom: 15px;
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      margin: 0;
      width: 100%;
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      padding: 20px;
    }

    .boxes-wrap__boxes-inner-wrap__box2 {
      .boxes-wrap__boxes-inner-wrap__topic-hd {
        font-size: _calc-rem(24px);
        line-height: _calc-rem(27px);
      }

      .boxes-wrap__boxes-inner-wrap__topic-desc {
        font-size: _calc-rem(16px);
        margin-bottom: 15px;
      }
    }

    .boxes-wrap__video-box-wrap__video-box2 {
      img {
        border-radius: 25px;
      }
    }
    .select-menu-container {
      flex-wrap: wrap;
      padding-right: 0;
    }

    .select-col {
      width: 100%;
      margin: 3px 0;
    }

    .boxes-wrap__boxes-inner-wrap__product-info__points {
      font-size: _calc-rem(65px);
    }

    .boxes-wrap__boxes-inner-wrap__product-info__bu-ac {
      font-size: _calc-rem(20px);
    }

    .boxes-wrap__boxes-inner-wrap__documents-labels-box {
      min-height: 200px;
    }

    .play-btn1 {
      top: 40%;
    }

    .mrtp-20 {
      margin-bottom: 0;
    }

    .select-menu {
      margin: 0;
    }

    .mrtp-15 {
      margin-top: 15px;
    }
  }

  .column-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .column-wrap .column {
    width: 49%;
  }

  .column-wrap .column:last-child {
    float: right;
  }

  #ajax-filter-search-results {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  #ajax-filter-search-results li {
    width: 23.5%;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }

  #ajax-filter-search-results li.no-result {
    width: 100%;
    text-align: center;
  }

  #ajax-filter-search-results li:nth-child(4n + 4) {
    margin-right: 0;
  }

  // New Styles
  #filter-search-container {
    .filter {
      & > label {
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: $white;
      }

      h3 {
        font-size: _calc-rem(16px);
      }

      &:after {
        border: solid grey;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    .dropdown-wrapper {
      display: block;

      &.hidden {
        display: none;
      }

      .select-option-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        line-height: 1;
        align-items: center;

        &.is-disabled {
          opacity: .5;
          pointer-events: none;
        }

        label {
          width: 100%;
          display: flex;
          min-height: 45px;
          align-items: center;
        }

        input[type="checkbox"] {
          accent-color: $seed;
          cursor: pointer;

          &.trures-trial-data,
          &.trures-insights {
            width: auto;
          }
        }
      }
    }
  }

  .filters-wrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: $breakpoint-small) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
    }

    @media screen and (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(5, 1fr);
      gap: 2em;
    }

    .filter {
      position: relative;
    }
  }

  .prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;

    /* Standard syntax */
    & > * {
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
    }
  }

  #rl-ajax-filter-search-results {
    display: grid;
    gap: _calc-rem(24px);
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: $breakpoint-small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .product-info__up-arrow__icon {
    width: 40px;
    height: 30px;
  }

  .search-input {
    .show {
      display: block;
    }

    .hide {
      display: none;
    }

    .close-icon {
      width: _calc-rem(25px);
      height: _calc-rem(25px);
      background: transparent;
      top: 0;
    }
  }

  .results-info-wrapper {
    margin: 25px 0 50px;

    .results-count {
      margin-top: 35px;
    }
  }

  .allselected-filter {
    display: flex;
    justify-content: space-between;

    .icon-remove-filter {
      height: _calc-rem(10px);
      width: _calc-rem(10px);
      position: absolute;
      right: 10px;
      top: 9px;
      fill: #fff;
    }

    .indi-filter {
      .selected-filter {
        font-size: _calc-rem(14px);
        padding-right: 15px;
        border: 1px solid $seed;
        border-radius: 5px;
        padding: 5px 25px 5px 10px;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
      }
    }
  }

  #clear-all {
    font-size: _calc-rem(14px);
    cursor: pointer;
  }

  .show-clear-option {
    display: block;
  }

  .load-more-wrapper {
    grid-column: 1/-1;
    display: inline-block;
    text-align: center;
    margin-top: _calc-rem(20px);
    width: 100%;

    a {
      background: $good-earth-black;
      color: $white;
      border-radius: 102px;
      font-size: _calc-rem(16px);
      padding: 8px 16px;
    }
  }

  .crop-icon-holder {
    width: _calc-rem(45px);
    height: _calc-rem(45px);
    padding: 10px;
    border: 2px solid $black;

    .icon {
      width: 100%;
    }
  }

  .icon-arrow-right {
    width: _calc-rem(20px);
    height: _calc-rem(20px);
  }

  .arrow-right-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
  }

  .icon-filter-select-dropdown {
    width: _calc-rem(18px);
    height: _calc-rem(25px);
    position: absolute;
    right: 10px;
  }

  .boxes-wrap__boxes-inner-wrap__go-btn a {
    display: flex;
    gap: 5px;

    .icon-arrow-go-hearty-green {
      width: _calc-rem(19px);
      height: _calc-rem(19px);
      margin-top: 3px;
    }
  }

  .boxes-wrap__boxes-inner-wrap__go-btn-white a {
    display: flex;
    gap: 5px;

    .icon-arrow-go-white {
      width: _calc-rem(19px);
      height: _calc-rem(19px);
      margin-top: 3px;
    }
  }

  .video-btn a {
    display: inline-block;

    .icon-video {
      width: _calc-rem(60px);
      height: _calc-rem(60px);
    }
  }

  .audio-btn a {
    display: inline-block;
  }

  .icon-audio {
    width: _calc-rem(60px);
    height: _calc-rem(60px);
    fill: $white;
  }

  .boxes-wrap__video-box-wrap.featured-section {
    .boxes-wrap__video-box-wrap__video-box2 {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .video-btn {
        position: absolute;

        a {
          display: inline-block;
        }
      }
    }
  }
}
