// SCSS Imports
// https://sass-guidelin.es/#the-7-1-pattern

// Framework
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'vendors/custom-ui-kit';

// Base
@import 'base/reset';
@import 'base/base';
@import 'base/accessibility';
@import 'base/entry-content';
@import 'base/typography';
@import 'base/media';

// Components
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/form';
@import 'components/modal';
@import 'components/links';
@import 'components/icons';

// Modules
@import 'components/modules/accordion';
@import 'components/modules/accordion-post';
@import 'components/modules/advanced-cn-plant';
@import 'components/modules/agrifact-filter';
@import 'components/modules/background-gradient';
@import 'components/modules/bento-box';
@import 'components/modules/bios';
@import 'components/modules/carousel-hero';
@import 'components/modules/chilipiper-form';
@import 'components/modules/column-content';
@import 'components/modules/content-area';
@import 'components/modules/content-block';
@import 'components/modules/dealer-locator';
@import 'components/modules/explore-more';
@import 'components/modules/field-study-page';
@import 'components/modules/full-width-graphic';
@import 'components/modules/gated-content-form';
@import 'components/modules/hero';
@import 'components/modules/jump-to-navigation';
@import 'components/modules/minimal-campaign-footer';
@import 'components/modules/module';
@import 'components/modules/media-asset-banner';
@import 'components/modules/modal-form';
@import 'components/modules/nutrient-deficiencies';
@import 'components/modules/nutrient-knowledge';
@import 'components/modules/nutrient-slider';
@import 'components/modules/nutrient-table';
@import 'components/modules/performance-acre-plus-banner';
@import 'components/modules/performance-map';
@import 'components/modules/product-banner';
@import 'components/modules/product-cards';
@import 'components/modules/split-banner';
@import 'components/modules/video';
@import 'components/modules/wysiwyg';
@import 'components/modules/site-search';
@import 'components/modules/field-trial-data';
@import 'components/modules/farmer-slider';
@import 'components/modules/slider';
@import 'components/modules/announcement-bar';
@import 'components/modules/episode-filtering';
@import 'components/modules/farmer-episodes';

// ColumnContent Partials
@import 'components/partials/box-content';
@import 'components/partials/card';
@import 'components/partials/card-agrifact';
@import 'components/partials/image-fifty-fifty';
@import 'components/partials/text-fifty-fifty';
@import 'components/partials/video-fifty-fifty';

// Layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/sticky-navigation';

// Single Pages
@import 'pages/single/agrisights';
@import 'pages/single/video-articles';
@import 'pages/single/success-story';
@import 'pages/single/robust-articles';
@import 'pages/single/standard-articles';
@import 'pages/single/direction-for-use';
@import 'pages/single/agrifacts';
@import 'pages/single/spec-sheets';
@import 'pages/single/product-sheets';
@import 'pages/single/product-label';
@import 'pages/single/ghs-label';
@import 'pages/single/column-content';
@import 'pages/single/sds-pages';
@import 'pages/single/trures-inisghts';
@import 'pages/single/trures-trial-data';
@import 'pages/single/mulders-chart';
@import 'pages/single/frontier-fields-eps';
@import 'pages/single/sherry-show-episode';
@import 'pages/single/app-rate-sheets';

@import 'pages/single/material';
// Partial Templates
@import 'partials/related-content';
@import 'partials/super-back-button';
@import 'partials/back-to-resources-button';
@import 'partials/retail-value-calculator-form';
@import 'partials/bio-science-calculator';

// Archive Pages
@import 'pages/archive/resource-library';
