// SCSS Imports
// https://sass-guidelin.es/#the-7-1-pattern

// Framework
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'vendors/custom-ui-kit';

// Base
@import 'base/reset';
@import 'base/base';
@import 'base/accessibility';
@import 'base/entry-content';
@import 'base/typography';
@import 'base/media';

// Components
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/form';
@import 'components/modal';
@import 'components/links';
@import 'components/icons';

// Modules
@import 'components/modules/accordion';
@import 'components/modules/agrifact-filter';
@import 'components/modules/background-gradient';
@import 'components/modules/bento-box';
@import 'components/modules/column-content';
@import 'components/modules/content-area';
@import 'components/modules/content-block';
@import 'components/modules/hero';
@import 'components/modules/module';
@import 'components/modules/split-banner';
@import 'components/modules/wysiwyg';

// ColumnContent Partials
@import 'components/partials/box-content';
@import 'components/partials/card';
@import 'components/partials/card-agrifact';
@import 'components/partials/image-fifty-fifty';
@import 'components/partials/text-fifty-fifty';
@import 'components/partials/video-fifty-fifty';

// Layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/sticky-navigation';

// Single Pages
@import 'pages/single/agrifacts';
@import 'pages/single/spec-sheets';
@import 'pages/single/ghs-label';
@import 'pages/single/sds-pages';

// Partial Templates
@import 'partials/related-content';
@import 'partials/super-back-button';
@import 'partials/back-to-resources-button';