.header,
.footer {
  @media print {
    position: relative;
    display: none;
  }
}
.power-cal-sections {
  background: var(--color-white);
  width: 100%;
  position: relative;

  .calcontainer {
    max-width: 1200px;
    position: relative;
    padding: 0 15px;
    margin: auto;

    @media (max-width: $breakpoint-large) {
      width: 100%;
      padding: 0 15px;
    }

    .page_heading {
      padding: 80px 0 50px 0;
      border-bottom: 2px solid var(--color-calc-heading);

      @media (max-width: $breakpoint-medium) {
        padding: 20px 0;
      }

      h1 {
        margin: 0;
        font-size: _calc-rem(40px);
        line-height: _calc-rem(48px);
        @media (max-width: $breakpoint-medium) {
          margin: 0;
          font-size: _calc-rem(32px);
          line-height: _calc-rem(32px);
        }
        span {
          font-weight: 400;
        }
      }
    }

    .cal_select_country_tap {
      padding: 40px 0;
      position: relative;

      ul {
        padding: 0;
        margin: 0;
        text-align: center;

        li {
          display: inline-block;
          padding: 5px 20px;
          background: var(--color-white);
          border: 1px solid var(--color-black);
          border-radius: 20px;
          margin: 0 20px;
          vertical-align: text-top;
          text-align: center;
          width: 200px;
          font-size: _calc-rem(17px);
          cursor: pointer;
          font-weight: 700;

          @media (max-width: $breakpoint-medium) {
            margin: 10px 10px;
          }

          &.active {
            background: var(--color-calc-grey);
            border: 1px solid var(--color-black);
          }

          img {
            padding: 0 2px;
            vertical-align: middle;
            width: 27px;
          }
        }
      }
    }
  }

  .power_calulator_formula_section {
    padding: 20px 0;
    position: relative;
    width: 100%;

    @media (max-width: $breakpoint-medium) {
      padding: 0;
    }

    .power_Cal_left_width {
      width: 65%;
      display: inline-block;
      vertical-align: text-top;
      &.padrt15 {
        padding-right: 15px;
        @media (max-width: $breakpoint-medium) {
          padding: 0;
        }
      }
      &.padlt15 {
        padding-left: 15px;
        @media (max-width: $breakpoint-medium) {
          padding: 0;
        }
      }
      @media (max-width: $breakpoint-medium) {
        width: 100%;
        display: block;
        margin: 15px 0;
      }

      .power_cal_white_bg {
        display: block;
        background: var(--color-white);
        padding: 30px;
        border: 1px solid var(--color-black);
        border-radius: 10px;

        @media (max-width: $breakpoint-medium) {
          padding: 15px;
        }

        .fertilizer_app_section {
          padding: 20px;
          border: 1px solid var(--color-black);
          border-radius: 10px;
          text-align: center;

          @media (max-width: $breakpoint-medium) {
            padding: 10px;
          }

          .fertilizer_list_sec {
            padding: 20px 0;

            @media (max-width: $breakpoint-medium) {
              padding: 20px 0;
              width: 100%;
              position: relative;
            }

            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              @media (max-width: $breakpoint-medium) {
                text-align: center;
                margin: auto;
              }
              li {
                display: inline-block;
                padding: 6px 20px;
                margin: 0 20px;
                background: var(--color-white);
                border: 1px solid var(--color-black);
                font-size: _calc-rem(16px);
                cursor: pointer;
                @media (max-width: $breakpoint-medium) {
                  display: inline-block;
                  padding: 6px 10px;
                  margin: 10px 10px;
                  display: inline-block;
                  width: 41%;
                  text-align: center;
                }
                &.active {
                  background: var(--color-calc-green);
                  color: var(--color-white);
                  border: 1px solid var(--color-calc-green);
                }
              }
            }
          }

          .clearboth {
            clear: both;
          }
        }

        .fertilizer_slider_sec {
          padding: 20px 0;
          p {
            font-size: _calc-rem(18px);
            margin: 0;
            padding: 0 0 15px 0;
          }
          .fertilizer_slider_box {
            width: 100%;
            position: relative;

            .fertilizer_slider_left {
              width: 80%;
              float: left;

              .slier_box_sec {
                width: 100%;
                position: relative;
                .slider-horizontal {
                  width: 100%;
                  @media (max-width: $breakpoint-medium) {
                    width: 96%;
                  }
                  .slider-handle {
                    background-color: var(--color-calc-green);
                  }
                }
              }
            }

            .fertilizer_slider_right {
              width: 20%;
              float: left;

              &.padrt15 {
                padding-right: 15px;
                @media (max-width: $breakpoint-medium) {
                  padding: 0;
                }
              }
              &.padlt15 {
                padding-left: 15px;
                @media (max-width: $breakpoint-medium) {
                  padding: 0;
                }
              }

              .input_box {
                width: 100%;

                label {
                  display: block;
                  font-size: _calc-rem(18px);
                  padding: 0 0 15px 0;
                  @media (max-width: $breakpoint-medium) {
                    display: block;
                    font-size: _calc-rem(18px);
                    padding: 0 0 5px 0;
                  }
                }

                input {
                  width: 100%;
                  @media (max-width: $breakpoint-medium) {
                    width: 100%;
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
          .clearboth {
            clear: both;
          }
        }
        .fertilizer_batch_sec {
          padding: 20px 0;

          .fertilizer_full_width {
            width: 100%;
            position: relative;

            .fertilizer_half_width {
              width: 50%;
              float: left;

              @media (max-width: $breakpoint-medium) {
                width: 100%;
                float: none;
              }

              &.padrt15 {
                padding-right: 15px;
                @media (max-width: $breakpoint-medium) {
                  padding: 0;
                }
              }
              &.padlt15 {
                padding-left: 15px;
                @media (max-width: $breakpoint-medium) {
                  padding: 0;
                }
              }

              .input_box {
                width: 100%;

                label {
                  display: block;
                  font-size: _calc-rem(18px);
                  padding: 0 0 15px 0;
                  @media (max-width: $breakpoint-medium) {
                    display: block;
                    font-size: _calc-rem(18px);
                    padding: 0 0 5px 0;
                  }
                }

                input {
                  width: 100%;
                  @media (max-width: $breakpoint-medium) {
                    width: 100%;
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }

          .clearboth {
            clear: both;
          }
        }
      }
    }

    .power_Cal_right_width {
      width: 33%;
      display: inline-block;
      vertical-align: text-top;

      &.padrt15 {
        padding-right: 15px;
        @media (max-width: $breakpoint-medium) {
          padding: 0;
        }
      }
      &.padlt15 {
        padding-left: 15px;
        @media (max-width: $breakpoint-medium) {
          padding: 0;
        }
      }
      @media (max-width: $breakpoint-medium) {
        width: 100%;
        display: block;
        margin: 15px 0;
      }
      .power_cal_grey_bg {
        background: var(--color-calc-grey);
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        .cal_select_country_tap {
          padding: 0;
          &.print_results_holder {
            @media print {
              display: none;
            }
          }
        }
        .power_head {
          h3 {
            font-size: _calc-rem(30px);
            font-weight: 700;
          }
        }
        .total_display_box {
          margin: 20px 0;
          padding: 10px;
          text-align: center;
          border: 1px solid var(--color-black);
          &.greenbox {
            background: var(--color-calc-green);
            color: var(--color-white);
            * {
              color: var(--color-white);
            }
          }
          strong {
            font-weight: 700;
          }
        }
      }
    }
  }

  .clearboth {
    clear: both;
  }
}

.powercost_metric_content_sec {
  padding: 30px 0;
  .calcontainer {
    max-width: 1200px;
    position: relative;
    padding: 0 15px;
    margin: auto;
    .powercost_content_terms {
      display: none;
      &.usa_terms {
        display: block;
      }
      p {
        font-size: _calc-rem(16px);
      }
    }
    @media (max-width: $breakpoint-large) {
      width: 100%;
      padding: 0 15px;
    }
  }
}
